[2015-08-13 22:33] aaustin opened #1 "Data in the init callback is returned as String"
We should return a nice JSON, not an ugly string

[2015-08-13 22:34] aaustin opened #2 "If server request times out, init is not callable"
Need poor connection handling and retry logic

[2015-08-13 22:35] aaustin opened #3 "Compilation errors in built module"
Projects will not compile when the module is added

[2015-08-18 15:16] aaustin opened #4 "Add iOS share sheet and Android share sheet code to Titanium"
https://dev.branch.io/recipes/content_sharing/android/#sharing-methods-optional
https://dev.branch.io/recipes/content_sharing/ios/#sharing-methods-optional

[2015-12-26 02:07] #1 closed

[2015-12-26 02:07] #2 closed

[2015-12-26 02:07] #3 closed

[2015-12-26 02:07] #4 closed

[2016-01-07 17:22] annakozy2011 opened #10 "Android: parameters don't come in bio:initSession"
The issue is with the function createSessionDict in TitaniumDeferredDeepLinkingSDKModule.java

It does not add to the dictionary anything but the branch.io default parameters.

And I would like to have some custom parameter like it works on iOS (like, say, the id of the page I have to open).

[2016-01-09 22:18] aaustin commented on #10
Hey @annakozy2011 - thanks so much for the heads up. I'm forwarding this on to the engineers and hopefully they can take a look soon.

[2016-01-11 09:11] aaustin commented on #10
@annakozy2011 We just resolved this. Can you try the updated version? Note that `getAutoInstance` changed to just `initSession`.

[2016-01-11 09:11] #10 closed

[2016-01-11 09:40] annakozy2011 commented on #10
No, not resolved.

Let me elaborate more.

I have a link like this:

https://bnc.lt/a/key_live_XXXXXX?planid=313350

I am counting on receiving planid number to open a certain page in my app.

But what comes in bio:initSession event, is below, as you see, there is no planid parameter.
This is because createSessionDict function only adds pre-determined parameters to the event, and ignores any custo

[2016-01-11 09:43] annakozy2011 commented on #10
Sorry, updated the previous answer, I copied the wrong statement from log :)

[2016-01-11 09:45] annakozy2011 commented on #10
I am sure that planid is returned from server, because I also have this in the log (logged from inside Java file)

BranchSDK: returned {"session_id":"215030014441363084","identity_id":"215027849273298089","device_fingerprint_id":"215027849227218267","browser_fingerprint_id":null,"link":"https://bnc.lt/j/FhE861BZ2p","data":"{\"planid\":\"313350\",\"$one_time_use\":false,\"~id\":\"214048774090178849

[2016-01-11 09:47] annakozy2011 opened #12 "Custom parameters do not get returned in bio::initSession"
I am sorry, but this issue is not resolved.

https://github.com/BranchMetrics/Titanium-Deferred-Deep-Linking-SDK/issues/10

Please see my comments on my previous issue and reopen it.

[2016-01-11 09:49] annakozy2011 commented on #12
I will describe again.

I have a link like this:

https://bnc.lt/a/key_live_XXXXXX?planid=313350

I am counting on receiving planid number to open a certain page in my app.

But what comes in bio:initSession event, is below, as you see, there is no planid parameter.
This is because createSessionDict function only adds pre-determined parameters to the event, and ignores any custom parameters. I am

[2016-01-12 08:33] jestoniyap commented on #12
Hello @annakozy2011, we've updated master and it should include all the keys and values the API returns. Hopefully, this addresses the issue. Thank you for your support.

[2016-01-12 08:35] annakozy2011 commented on #12
Ok, by the look at the code, that seems to be better :)... let me check it in the app

[2016-01-13 03:46] jestoniyap commented on #12
Hello @annakozy2011, please close the issue if it has been resolved. Thank you.

[2016-01-13 08:01] annakozy2011 commented on #12
Ok, now it works fine, sorry for the delay, closing

[2016-01-13 08:01] #12 closed

[2016-01-18 10:48] annakozy2011 opened #14 "It sends me extra params"
I am sorry for it, but now it sends me extra parameters, that seem to get cached some place.

For example, first I have a link

https://bnc.lt/a/key_live_XXX?planid=1234

So far so good.

But then next I have a link without plan id.

https://bnc.lt/a/key_live_XXX

Plan id is still coming, having the value it had before!

When I do something like that:

https://bnc.lt/a/key_live_XXX?planid=0

it wo

[2016-01-18 12:03] annakozy2011 commented on #14
Can´t reproduce anymore. Maybe problem with my code? Close for now.

[2016-01-18 12:03] #14 closed

[2016-01-20 08:10] annakozy2011 opened #15 "SingleTask is not working"
Hi, I am trying to declare my Appcelerator's launcher activity as Single Task as it is required in your documentation for Titanium, but then it does not open from the Google Play market (it gets stuck on splash screen).

Is it really necessary and what should I do?

[2016-01-20 08:12] annakozy2011 commented on #15
More info: it seems that it does not open only when one instance of activity is already running (or more like, it opens splash screen and that's it). When I use "force stop" on it, it opens.

[2016-01-20 09:11] annakozy2011 commented on #15
I made further research, it is this bug: https://jira.appcelerator.org/browse/TIMOB-15253

[2016-01-21 06:19] aaustin commented on #15
Hey @annakozy2011 - Bummer! Can you try `singleInstance`? That should give the same effect and perhaps not bug out.

[2016-01-21 06:34] annakozy2011 commented on #15
Tried and it has the same bug.

What I did personally for me, is to restart my main window activity (index controller) on resuming the single task launcher activity. So far so good, it did not seem to change much and I can live with singleTask, but we have only been testing it for 1 day

I added this in alloy.js :

if (OS_ANDROID)
{
	function resumeLauncher() {
		Alloy.createController('index',{

[2016-01-24 17:57] aaustin commented on #15
Have you observed any side affects? It seems like a good option so I'd like to add it to the docs.

[2016-01-24 18:12] annakozy2011 commented on #15
I actually did research more. Side effects of single task only show up when you background the activity, then go back and click the ICON. Then all the activities (windows) on top of the launcher will be destroyed, so if we are in Titanium, we only see the splash (or we have to reread the index, which may or may not be viable, because we may have more than 1 windows open, so we lose the state of ap

[2016-01-24 18:13] annakozy2011 commented on #15
My app's specific side effects, is that if you background the activity, then go back and try to foreground it from the icon, the app state (open windows) is destroyed and I am back to initial list on the main page.

[2016-01-24 18:22] aaustin commented on #15
Oh yea. That sounds like the purpose of singleTask.

The problem with allowing multiple instances of the app and deep linking is that Intents don't get cleared. There can be multiple intents, scattered around the various instances. The origin point for the specific instance is the only intent that can clear a previous one. We've seen very strange behavior when you depend on an intent for routing.

[2016-01-24 18:30] annakozy2011 commented on #15
Well, I am not generally an Android developer, so I do not fully understand what you just said. In Titanium I don't generally use intents, so I don't know where they depend on intent for routing.

From a practical standpoint, so far I am lost between two alternatives : having two (or more) instances of my application due to deep linking, which is not desirable, as users can end up getting, for exa

[2016-01-24 18:35] annakozy2011 commented on #15
Frankly speaking, I am struggling to understand why it's behaving differently when brought to foreground from the icon and from the carousel (personally, I am iPhone user and Titanium programmer, so it was unexpected for me)

[2016-01-24 19:59] aaustin commented on #15
Intent is how an app is launched. For most cases, folks will enter through the icon. As far as I know, if they re-enter a backgrounded app from the icon, it'll show the same screen they were viewing before. The difficulty comes when triggering a new intent from the icon after clicking a deep link, which will be a new intent that must be handled differently.

I'd recommend just storing the state of

[2016-01-24 20:12] annakozy2011 commented on #15
I am thinking of storing the state, but it is not so simple - 2 layers of
windows (activities) and a background audio that now lives in the last
layer

It may even be easier to rewrite navigation so that it uses views and not
windows instead

On Sunday, 24 January 2016, Alex Austin <notifications@github.com> wrote:

[2016-01-24 20:13] annakozy2011 commented on #15
Apps that are not single task dont change their state when brought back to
foreground in Ti

On Sunday, 24 January 2016, Anna Kozynenko <annakozy@direcciona.me> wrote:

[2016-02-11 15:52] annakozy2011 opened #17 "Customizable texts during sharing"
I am requested to customize email subject, email body and if possible, also to predefine and customize Facebook/Twitter status.

Do you have any parameters for this? (both in iOS and Android).

To my horror, in Titanium-Android SDK I have discovered a hardcoded piece of text in the module :

ShareSheetStyle shareSheetStyle = new ShareSheetStyle(activity, "Check this out!", "This stuff is awesome:

[2016-02-11 15:55] annakozy2011 commented on #17
On iOS, I get the third parameter of ShowShareSheet both in subject and body of my email.

[2016-02-11 15:56] annakozy2011 commented on #17
On iOS in Facebook I don't get any status (but it may be expected behavior, I am not sure)

[2016-02-11 16:02] annakozy2011 opened #18 "The link looks very long on iOS, is it normal?"
The link shared from iOS, looks like this:

https://bnc.lt/a/key_live_bbbG82AgTnvPATpqbPi1UnkoyugwXriJ?%24identity_id=223779220772393538?alias=bwom-invite-3ff6cdb1bb0e11e59a4b04015dff3901&channel=com.google.Gmail.ShareExtension&feature=bwom-invite&stage=bwom-invite&type=0&matchDuration=0&source=ios&data=eyIkZXhwX2RhdGUiOjAsIiRvZ190aXRsZSI6IkJ3b20gLSBQZWx2aWMgRmxvb3IiLCJ1bmlxdWVfdXJsIjoiM2ZmNmNkYjF

[2016-02-12 17:41] aaustin commented on #18
@annakozy2011 We fall back to creating that long link when the Branch session is not properly initialized due to a connection issue or otherwise. This seems quite problematic. Do you have set debug on? and can you see requests to /v1/open in the logs for iOS? Can you print the logs for iOS leading up to your creation of that long link?

[2016-02-12 17:47] annakozy2011 commented on #18
Ok, I'll investigate if my connections gets properly initialised and let you know.

[2016-02-12 17:53] aaustin commented on #17
I agree @annakozy2011 - that's quite horrific. Let me work with the engineers to get this in tip top shape. Sorry about the mess.

[2016-02-12 18:07] annakozy2011 commented on #18
I have this in my debug log, I guess this is yours and contains an error:

 Loading: /var/mobile/Containers/Bundle/Application/A539455F-B4DB-4680-B5D4-60F15E30CEB6/Bwom.app/alloy/controllers/ProfileInviteWindow.js, Resource: alloy/controllers/ProfileInviteWindow_js
[DEBUG] :  _initWithPageContext (
[DEBUG] :          {
[DEBUG] :          canonicalIdentifier = plans;
[DEBUG] :          contentDescr

[2016-02-12 18:08] annakozy2011 commented on #18
On emulator, this for some reason does not happen.

[2016-02-12 18:12] annakozy2011 commented on #18
Oops, I have restarted app, and this time the error did not happen and I got the short link.... I'll be trying to see more of it. Maybe indeed something with my session logic...

[2016-02-12 18:16] annakozy2011 commented on #18
Question: how many times in the lifetime of the app can I call branch.getAutoInstance() ?

I am calling it on Resume too, can it be a problem?

But if I do not call it on Resume, then I won't receive the event bio:initSession if someone RESUMED the app from background when following a link, right? Then in this case I won't be able to do what the link demands (such as open a particular screen)

[2016-02-12 18:24] annakozy2011 commented on #18
Ok, I am not reproducing this error anymore.

At the moment it seems to work fine and produces the short link.

[2016-02-13 01:53] aaustin commented on #17
I filed a ticket internally. Hopefully we'll be able to fix this issue soon!

[2016-02-13 01:55] aaustin commented on #18
It might have been a blip in your wifi?

[2016-02-13 01:55] #18 closed

[2016-02-16 15:00] annakozy2011 commented on #17
I've seen the pull request, but it has a bunch of typos in Java code. Don't let it in until it's corrected :)

[2016-02-17 10:43] annakozy2011 commented on #17
I checked the pull request (with corrections), it works as expected

[2016-02-17 11:51] annakozy2011 opened #20 "Personalize text per platform?"
We´ve seen other apps that do sharing and personalize the text by platform (not necessarily they use branch).
I am aware that this is not possible in Titanium SDK.
My question is is it possible to do in native SDK?

[2016-02-17 19:19] aaustin commented on #20
On iOS specifically? Yes but it's a bit more complicated. You can basically subclass UIActivityItemProvider and check the channel prior to sending back the data.

[2016-02-17 19:24] annakozy2011 commented on #20
Well, I was asking if Branch iOS SDK (on which Titanium SDK is based) is doing it or not...
I have read the theory, but I really hope that the client won´t make me recompile branch iOS SDK (even though the competing app does provide different texts for different providers)... or at least not now

[2016-02-20 01:04] aaustin commented on #20
Ah - yea.. we currently don't support it and don't have plans to add it soon. You could hack the iOS SDK and update the Titanium wrapper? Sorry :(

[2016-02-22 08:02] annakozy2011 commented on #20
Ok, that's fine.

[2016-02-22 08:02] #20 closed

[2016-02-24 12:34] nuborian opened #21 "Error creating a link"
Hi,

each time i wanna create a new shortlink inside my app, i receive this error:
"A resource with this identifier already exists"

Where does this come from?

(A while ago the sdk was more easy to use, then it's now)

Best, Nico

[2016-02-24 19:43] aaustin commented on #21
Hey @nuborian sorry about that - are the errors the part that are troubling you?

The problem is that you must be trying to create a link with an `alias` that already exists. I recommend removing the `alias` parameter from the dictionary when you call getShortUrl and showShareSheet.

Sorry for the confusion!

[2016-02-24 22:32] nuborian commented on #21
Hey,

you're correct - now creation is working - but something still isn't right. (But for sure the mistake is on my side, maybe you can help there, too.)

1. Created a link in the dashboard, without any adjustments to the keywoard or other stuff --> open Link on iphone --> Starting app just like excepted.

2. Adjust paramaters and generate link --> open link --> doesn't open the app, but the defa

[2016-02-25 05:19] aaustin commented on #21
Hey Nico - happy to help. Can you share which keywords you're adjusting? If you want to share you Branch key and others, we can help debug it with you on your dashboard if you email support@branch.io.

[2016-02-26 15:14] prakash-anubavam opened #23 "Custom URL Scheme not working - Link always open in Safari - [Urgent]"
Hi,
I am trying to implement branch.io deep linking using your SDK. I have followed all the steps in your document. but when user click branch.io link- It always loaded on safari and take me to app store.
The link should open the app and I want data for that url.

1. I enabled associated domain in App identifier in member center.
2. I followed all the steps mentioned in your document section

Kind

[2016-02-26 16:03] annakozy2011 opened #24 "Android 6.0 - share sheet not working"
On Android 6.0, share sheet gets displayed as usual, but when the user selects an option, nothing happens.

On other Androids, works as expected

I have log, but it's not showing errors :

02-26 16:30:40.900: D/BranchUniversalObjectProxy(13900): (KrollRuntimeThread) [4,591643] setCanonicalIdentifier
02-26 16:30:40.900: D/BranchUniversalObjectProxy(13900): (KrollRuntimeThread) [1,591644] setTitle
0

[2016-02-26 16:20] annakozy2011 commented on #24
Compared to normal log, posting to https://api.branch.io/v1/open is absent.

2-26 17:08:51.383: D/BranchUniversalObjectProxy(868): (KrollRuntimeThread) [3676,58984] inside onChannelSelected
02-26 17:08:51.384: D/BranchUniversalObjectProxy(868): (KrollRuntimeThread) [1,58985] channelName: Gmail
....
02-26 17:08:51.554: I/BranchSDK(868): posting to https://api.branch.io/v1/open
02-26 17:08:51.556: I

[2016-02-26 16:39] annakozy2011 commented on #24
Y lo reproduzco en Genymotion:

02-26 11:37:42.544: D/BranchUniversalObjectProxy(3596): (KrollRuntimeThread) [1791,68887] inside onChannelSelected
02-26 11:37:42.544: D/BranchUniversalObjectProxy(3596): (KrollRuntimeThread) [0,68887] channelName: Email
02-26 11:37:43.105: E/Surface(3596): getSlotFromBufferLocked: unknown buffer: 0xdaccbd20
02-26 11:37:43.113: D/BranchUniversalObjectProxy(3596): (K

[2016-02-26 20:16] #17 closed

[2016-02-27 16:14] ahmednawar commented on #23
@prakash-anubavam could you please take a look at the Universal Links troubleshooting guide at https://dev.branch.io/getting-started/universal-app-links/support/ios/#troubleshooting-universal-links

Sorry if it feel like redundant work but we catch lots of bugs by walking through this list. Also could you send a sample link that you are testing with?

Thanks! Let me know if you have other question

[2016-02-27 16:35] #23 closed

[2016-03-01 03:11] davidkw opened #25 "Facebook callback from login doesn't work"
When the brach.io module is loaded, the callback from the Facebook module's login functionality (and I imagine other modules/apps as well) that use urls to open the app doesn't work. It appears as if the branch module is getting the URL, but not acting on it because it is not a bnc.ly url. The URL does not appear to being passed on to the other handlers to allow them to decide if they want to act.

[2016-03-01 03:30] davidkw commented on #25
I couldn't generate a pull request (don't have permission), so here is a diff for IoBranchSdkModule.m to fix this issue:
[code]
[IoBranchSdkModule.m.zip](https://github.com/BranchMetrics/Titanium-Deferred-Deep-Linking-SDK/files/152107/IoBranchSdkModule.m.zip)

[2016-03-01 06:56] aaustin commented on #25
@davidkw Can you confirm that your fix, https://github.com/BranchMetrics/Titanium-Deferred-Deep-Linking-SDK/pull/26/files, will work if there's no existing openUrl method in the app delegate?

[2016-03-01 06:56] aaustin commented on #25
(thanks for the fix by the way)

[2016-03-01 19:48] davidkw commented on #25
I know this isn't a good argument but the existing code would have the same issue if the openUrl method wasn't defined (and Titanium's app delegate defines the openUrl method). Also, while method_exchangeImplementations is frowned on a little, it was quick. Probably should rework this code eventually to use method_setImplementation and save the old implementation to call from the new implementatio

[2016-03-02 04:54] aaustin commented on #25
That's a good enough answer for me!

[2016-03-02 04:54] aaustin commented on #25
merged

[2016-03-02 04:54] #25 closed

[2016-03-08 23:43] xedef opened #27 "setIdentity fails with "unrecognized selector sent to instance" on a string"
setIdentity is failing because [of this](https://github.com/BranchMetrics/Titanium-Deferred-Deep-Linking-SDK/blob/master/iphone%2FClasses%2FIoBranchSdkModule.m#L304)

My suggestion: if you have methods with variable amount of parameters, always treat ```args``` as a ```NSDictionary``` and check the presence for each possible key. Does that sound OK?

[2016-03-08 23:44] derrickstaten commented on #27
@xedef this sounds like a good approach. Is this something you'd be willing to take on?

[2016-03-10 15:07] xedef opened #28 "Key +referrer not present"
Referrer key is not present in ```bio:generateShortUrl``` event data, even that I have the following values in the returned object:

[code]

[2016-03-10 15:15] xedef commented on #28
Sorry, I'm not sure if I have to send it myself or not. Documentation is confusing and poor. If I have to send it myself, disregard this issue.

[2016-03-11 04:16] jestoniyap commented on #27
@xedef please check master and see if the issue was fixed. Then you can close this ticket. Thanks.

[2016-03-14 13:53] xedef opened #31 "bio:generateShortUrl event is often not being triggered"
The event ```bio:generateShortUrl``` triggered as a callback when requesting a short URL is sometimes missing.

Seems that the callback passed to ```branchUniversalObj``` is not called every time.

[2016-03-16 08:09] jestoniyap commented on #31
@xedef I am unable to replicate this issue. Can you please give us details on how to replicate the issue and the platform you are using, as well as your development environment. Thank you.

[2016-03-16 08:10] jestoniyap commented on #24
@annakozy2011  I am unable to replicate this issue using Android 6.0. Can you please give us more details on how to replicate the issue and your development environment. Thank you.

[2016-03-16 10:22] xedef commented on #31
@jestoniyap
This is what I'm doing:
1. Call initSession
2. Create a branchUniversalObject
3. Add a listener to bio:generateShortUrl event, logging the result in the callback
4. Call branchUniversalObject.generateShortUrl

The bio:generateShortUrl callback is sometimes not called and the request timeouts. If the first call is OK, it doesn't matter, as I already have the generateShortUrl result. The

[2016-04-01 13:47] aniruddhasm opened #36 "Branch API Error: Please enter your branch_key in your project's manifest file first;"
Hello,
I followed given in documentation. but I am getting the below error.
The problem is content of tiapp.xml not getting added in AndroidManifest.xml

![screenshot from 2016-04-01 16-58-10](https://cloud.githubusercontent.com/assets/2951356/14208666/22a1b932-f83e-11e5-884d-f7d37913fd61.png)
Please find my tiapp.xml here
http://pastebin.com/AQqwCDFs

Please help I am stuck

[2016-04-04 03:47] jestoniyap commented on #36
@aniruddhasm I think you forgot to add the _<manifest>_ tag. Can you try if it works after adding it? You can look at the _tiapp.xml_ inside the _testbed_ application in the repository for reference.

[2016-04-04 07:02] aniruddhasm commented on #36
Thank You.

It is now working fine.

[2016-04-04 07:02] #36 closed

[2016-04-13 05:18] jonasfunk commented on #15
Hi Anna, very interested in knowning what you ended up doing. Kind of stuck implementing branch.io on Android.

[2016-06-06 08:26] annakozy2011 opened #41 "OnChannelSelected"
Hi, I am requested by my client to change the view after the user invites the friend through ShowShareSheet operation.

Is it possible to add an event that is fires after the user has selected a channel?

[2016-06-06 08:58] annakozy2011 commented on #41
Actually, on Android it's already implemented.

On iOS it's only needed to add something like this just before showing the sharesheet controller:

[shareViewController setCompletionWithItemsHandler:^(NSString *activityType, BOOL completed,  NSArray *returnedItems, NSError *activityError) {
                [self fireEvent:@"bio:shareChannelSelected" withObject:@{@"channelName":activityType}];

[2016-06-09 12:55] jonasfunk opened #43 "iOS:Calling showShareSheet() crashes the app"
This is the console output:

[WARN]  1   0x186cf0718 <redacted>
[WARN]  2   0x182a8cfe4 <redacted>
[WARN]  3   0x182a81e50 _os_once
[WARN]  4   0x182a8a728 pthread_once
[WARN]  5   0x187c8ad98 <redacted>
[WARN]  6   0x187c8a680 WebKitInitialize
[WARN]  7   0x188230090 <redacted>
[WARN]  8   0x18287147c <redacted>
[WARN]  9   0x1828722c0 dispatch_once_f
[WARN]  10  0x18248cfc8 <redacted>
[WARN]  11

[2016-06-09 13:00] jonasfunk opened #44 "Android: Setting tags on showShareSheet gives an error"
`branchUniversalObject.showShareSheet({
      "feature" : "share-shop",
      "channel" : "app",
      "tags":["nl"]
  }, {
      "$fallback_url" : "http://fallbackurl.com",
      "$email_subject" : "hello",
      "$email_body" : "It's me"
  });`

Gives this error:
`java.lang.Object[] cannot be cast to java.util.ArrayList`

[2016-06-09 13:05] jonasfunk opened #45 "Android: Exception: method POST must have a request body"
Getting this on every branch event.

`[INFO]  BranchSDK: posting to https://api.branch.io/v1/event
[INFO]  BranchSDK: Post value = {
[INFO]  BranchSDK:     "identity_id": "269410983791945291",
[INFO]  BranchSDK:     "device_fingerprint_id": "269410983590671061",
[INFO]  BranchSDK:     "session_id": "269416499474731571",
[INFO]  BranchSDK:     "event": "created_shop",
[INFO]  BranchSDK:     "hardwa

[2016-06-13 04:04] prakash-anubavam opened #46 "Urgent : InitSessionWithData return empty response when launch app - Android"
Hi Team,

I am integrating titanium branch.io module with enterprise client project. I used OneSignal for push notification. When push notification received, OneSignal module launch app and fire event "getNotificationData".  From this event I fired branch.initSessionWithData("Branch-URL");

This issue only in Android. iOS I have managed with handlePushNotification() method.

Most of the time I got

[2016-06-13 15:37] aaustin commented on #46
Hey @prakash-anubavam - Unfortunately, we haven't added support for push notifications through Titanium yet. However, since you figured out how to do it with iOS, we also support the same mechanism with the core Android SDK. Please see [this document for an example](https://github.com/BranchMetrics/android-branch-deep-linking#deeplink-via-push-notification).

I hope you can get this working for yo

[2016-06-13 15:40] aaustin commented on #44
Thanks Jonas - we'll hopefully be able to address your issues in the next day or so. I appreciate the feedback!

[2016-06-15 09:41] jonasfunk opened #47 "Android: Open Graph tags are not scraped"
Sharing a webpage with Open Graph tags from within the app to Facebook is unreliable.
The docs says [(link):](https://dev.branch.io/getting-started/configuring-links/guide/#open-graph-tags) If you do not specify a primary OG tag when creating a link, Branch will perform a one-time scrape of your $desktop_url (if set) and attempt to retrieve it.

I did that, but it seems like the tags, except the i

[2016-06-16 03:12] renesansz commented on #47
Hello @jonasfunk ,
Will gonna take a look on the issue and see what I can find to resolve the issue.
Will get back to you once resolved. thanks 👍

[2016-06-17 07:46] jonasfunk commented on #41
+1. Would be great to have the same events as on Android. Also since there is a significant delay when calling the sharesheet, it would be nice to be able to show the user a spinner, and remove it again according to proper events, instead of a timeout as we are doing now.

[2016-06-21 05:38] renesansz commented on #43
@jonasfunk ,
We'll look into this, do you have something to add that might help in resolving this issue?

[2016-06-21 05:39] renesansz commented on #45
@jonasfunk ,
I see, does this happen upon app start? Can you provide more info in your build that might help us resolve the problem? thanks

[2016-06-21 07:21] jonasfunk commented on #45
Happens on startup and through out the session.

Operating System
  Name                        = Mac OS X
  Version                     = 10.11.4
  Architecture                = 64bit
  # CPUs                      = 8
  Memory                      = 16.0GB

Node.js
  Node.js Version             = 0.12.7
  npm Version                 = 2.11.3

Titanium CLI
  CLI Version                 = 5.0.5
  n

[2016-06-21 07:26] jonasfunk commented on #43
Before Jestoni implemented [the fix for the credit buckets](https://github.com/BranchMetrics/titanium-branch-deep-linking/commit/6569b8fa641f4ca61115d09d08b135c66ae1b698), it worked.

[2016-06-22 11:53] prakash-anubavam opened #48 ""bio:initSession" event not fired in Android 6.0"
Hi,
I am using branch.io for my client project. Deep links works fine in iOS and Android L. But not working in Android M. "newIntent" event fired and I got log, But "bio:initSession" not fired in Android 6.0 (Marshmallow)

**Code:**

 Ti.Android.currentActivity.addEventListener("newintent", function(e) {
			Ti.API.info("inside newintent: " + JSON.stringify(e));
			setTimeout(function(){
				branch

[2016-06-22 11:55] prakash-anubavam commented on #46
Hi Alex,

Can you please check this issue. Its very urgent.

https://github.com/BranchMetrics/titanium-branch-deep-linking/issues/48

Regards.

On Mon, Jun 13, 2016 at 9:08 PM, Alex Austin <notifications@github.com>
wrote:

--
*Prakash M*
Lead Engineer

*ANUBAVAM**Chennai - India*

P   :  +91 044 42647746
*www.anubavam.com <http://www.anubavam.com/>*

[2016-06-22 12:40] renesansz commented on #48
Hello @prakash-anubavam ,
We'll look into the the problem on what's causing the issue, so far we haven't fully tested it yet in 6.0.
We'l get back to you with more info in our findings.

[2016-06-22 16:17] aaustin commented on #48
Thanks @renesansz for trying to reproduce. I was looking through the repository and I noted that our SDK doesn't override onNewIntent anywhere. Note how it does on Cordova: https://github.com/BranchMetrics/cordova-ionic-phonegap-branch-deep-linking/blob/master/src/android/io/branch/BranchSDK.java#L50.

Not sure if this is helpful or not, but might be a lead.

[2016-06-22 22:30] renesansz commented on #48
Thanks for pointing out @aaustin ,
I'll try to replicate what I've done in Cordova to Titanium.

[2016-06-23 09:00] jonasfunk commented on #31
I'm seeing this as well, and it's always happening the first time generateShortUrl is called. Subsequent calls to generateShortUrl triggers the event.

[2016-06-24 05:49] prakash-anubavam commented on #48
Hi @renesansz,
Any updates or workaround for this issue? My app release blocked because of this issue in marshmallow. If you find the solution as soon as possible, that will be great for me.

[2016-06-24 05:51] renesansz commented on #48
Hello @prakash-anubavam ,
I'm still resolving the issue, just have finished setting up my Titanium setup.
I apologize for the delay, will get back to you once I was able to resolve the issue.

[2016-06-27 05:23] venky-anubavam commented on #48
Hi @renesansz,
Appreciate for your responses!
Have you figured out the solution. Please keep us posted for updates. We stuck in release and badly need your support.

[2016-06-27 06:25] renesansz commented on #48
Hello @venky-anubavam ,
I apologise for the delay, I'm also having issues on setting up Titanium on my workspace.
I'm getting errors and also currently asking for tech support in Appcelerator due to some issues.
I'll get back to you once I'm able to proceed on fixing this issue.

[2016-06-28 01:40] renesansz commented on #48
Hi @venky-anubavam , I'll start working on fixing the issue now. I'll get back to you once I was able to fix this asap.

[2016-06-30 06:55] prakash-anubavam commented on #48
Hi @renesansz,
Any updates on the issue? Please let me know, if you need any information's or log.

we can also setup a call to discuss for some solutions. I'm located in IST.

[2016-06-30 07:39] renesansz commented on #48
Hello @prakash-anubavam ,
I'm still working on this issue, I'm having hard time replicating what I did with Cordova to Titanium. :(

[2016-07-01 05:13] prakash-anubavam commented on #48
Hi @renesansz,
Good news,  event triggered and works fine with TiSDK 5.3.0. Previously I build the APK with TiSDK 5.1.2.

Yesterday I tried with latest TiSDK and it works like magic.

Thank you very much for your effort and support.

[2016-07-01 06:19] renesansz commented on #48
@prakash-anubavam ,
Good to hear that it works now, I deeply apologise if I wasn't able to fix the issue as soon as possible I know it did affect a lot of time in your part.
Will close the issue now.

[2016-07-01 06:19] #48 closed

[2016-07-01 07:24] renesansz commented on #41
@jonasfunk ,
We'll confirm with the team if this feature request should be implemented.
I'll let you know in regards with their decision.
Thanks

[2016-07-01 07:25] renesansz commented on #43
@jonasfunk ,
Can you provide steps on how to reproduce the crash?
Thanks

[2016-07-01 09:17] renesansz commented on #45
@jonasfunk ,
We're still trying to figure out on what's causing this error since this only happens rarely.
However, we'll give you a response when we were able to fix this issue.

[2016-07-01 09:20] renesansz commented on #47
@jonasfunk , Can you give us the code that you've used along with the desktop_url w/ og_tags used?
Thanks

[2016-07-03 11:27] renesansz commented on #44
@jonasfunk , I apologize for the delay,
I've submitted PR #49 to fix this issue. Let me know if this works.

[2016-07-03 11:28] renesansz commented on #21
Hello @nuborian ,
Just wanted to know if this issue is now resolved?

[2016-07-03 11:29] renesansz commented on #15
Hello @annakozy2011 ,
Just wanted to know if this issue has been resolved?

[2016-07-03 11:31] renesansz commented on #24
@annakozy2011 ,
I was not able to reproduce the issue, can you give us more details and on how to replicate the issue?
Let me know if this is resolved or not.

[2016-07-03 11:32] renesansz commented on #27
@xedef ,
Just wanted to know if this issue is still open?

[2016-07-03 11:38] renesansz commented on #28
@xedef ,
Just wanted to ask if this issue is now resolved?

[2016-07-03 12:04] annakozy2011 commented on #24
Yes, resolved, I don´t remember how but resolved

[2016-07-03 12:05] renesansz commented on #46
@prakash-anubavam ,
Will close this issue for now since Alex confirmed that we don't have push notification support for now in Titanium

[2016-07-03 12:05] #46 closed

[2016-07-03 12:06] renesansz commented on #24
Thank you for the response @annakozy2011 .
Issue resolved, closing the ticket.

[2016-07-03 12:06] #24 closed

[2016-07-03 12:06] annakozy2011 commented on #15
No, not resolved. It's a generic Titanium problem. Right now I am using the workaround that re-reads index.js, but it depends on the application and not always it's stabel (in my cases it's pretty stable, but even for me in some 5% of cases the app does not come out from background correctly and has to be restarted).

I don't have a clue what to do

[2016-07-03 12:09] renesansz commented on #15
I see, I'll leave this ticket open for a while, I'll respond back if I can find a fix to this issue.
Thanks for the response

[2016-07-04 05:19] renesansz commented on #31
Hey guys,
I'm still trying to replicate the issue, but I have problems with my Xcode on my Mac, therefore I can't install old versions of iOS due to the app freeze problem.
I'll get back to this issue once I'll be able to resolve the issue on my xcode.

[2016-07-04 14:41] xedef commented on #28
@renesansz Yes. Resolved after contacting Branch support. Sorry for leaving this one open.

[2016-07-04 14:41] #28 closed

[2016-07-05 08:36] renesansz commented on #41
Submitted pr #50 to implement this feature.

[2016-07-05 08:37] renesansz commented on #43
Hey @jonasfunk , I've included the fix in pr #50
I hope this would resolve the issue

[2016-07-06 10:15] renesansz commented on #31
@xedef @jonasfunk ,
I can't replicate the issue, using iOS 9.2 and iOS 9.0 emulator.
It seems `bio:generateShortUrl` is triggered always, have you tried checking your internet connection if this causes the issue?

[2016-07-06 22:39] renesansz commented on #44
@jonasfunk , PR merged, please confirm if this fixes the issue now. thanks

[2016-07-06 22:54] renesansz commented on #43
@jonasfunk , please confirm that this issue is resolved. thanks

[2016-07-06 22:54] renesansz commented on #41
@annakozy2011 , please confirm if this issue is now resolved. thanks

[2016-07-07 06:52] annakozy2011 commented on #41
I am sorry, I can't, I have my own custom version, where I have implemented this and another small change (so that SMS text comes before the link and not after), and I do not feel like changing it right now

[2016-07-13 14:33] jonasfunk commented on #47
I've done nothing special - using the example code should suffice. Are you not able to reproduce the issue?

[2016-07-13 14:36] jonasfunk commented on #44
Thanks. Will report back, when I get an opportunity to test this.

[2016-07-13 14:37] jonasfunk commented on #43
Thanks, will report back when I get an opportunity to test this.

[2016-07-13 14:44] jonasfunk commented on #31
I can dismiss that it has anything to do with the internet connection. Have seen this happen on several different devices on several different occasions / networks.

[2016-07-14 01:08] renesansz commented on #47
I see, so far I was not able to reproduce the issue.
Can you provide a step-by-step guide to reproduce the issue?
Thanks

[2016-07-14 02:40] renesansz commented on #31
I see, noted that this issue is being caused by unreliable internet connection. Thanks for the response.
I'll close this issue now.

[2016-07-14 12:35] xedef commented on #31
As @jonasfunk states, this has nothing to do with connection issues. Happened in both simulator and device(s), in different networks and tested during different days.

My (wild) guess is that the callback is not used correctly. I think you should use `KrollCallback`.
Take a look at how mokesmoke uses it in his [Facebook module](https://github.com/mokesmokes/titanium-ios-facebook/blob/master/Classe

[2016-07-14 13:12] renesansz commented on #31
@xedef @jonasfunk , I apologise, I misunderstood the response I thought it only happens due to the network connection.
Thanks for the clarification I'll take a look with the `KrollCallback` implementation.
Reopening Issue

[2016-07-14 13:32] xedef commented on #31
Thanks, @renesansz! :)

[2016-07-18 03:52] renesansz commented on #31
@xedef , submitted PR #51 , hopefully this would fix the issue as you have suggested from recent comment.

[2016-07-22 10:03] jonasfunk opened #52 "Callback on logout method"
Shouldn't logout method have a callback, so we know when it's ok to init a new session?

[2016-07-26 00:04] renesansz commented on #52
I agree, I'll add a callback for logout method.

[2016-07-26 01:27] rlarmore opened #53 "IOS crash after clicking cancel or outside of the showShareSheet() window"
On ISO open and new window inside the application call the showShareSheet() click out side the share window or on cancel and the application will crash.  Using Ti SDK 5.1.2 and branch 1.1.5.

[2016-07-26 02:16] renesansz commented on #52
@jonasfunk , submitted PR #54 to address this issue.
Let me know if this works well for you. thanks 👍

[2016-07-26 02:17] renesansz commented on #53
Hello @rlarmore ,
Will going to check and replicate this issue. I'll respond back on my findings.

[2016-07-26 07:29] jonasfunk commented on #52
Thanks! Will test it, and get back.

[2016-07-26 21:08] rlarmore commented on #53
Thanks for the fast reply did you have any luck reproducing the issue?

[2016-07-26 22:17] renesansz commented on #53
@rlarmore ,
yes, however, I'm still trying to figure out the cause of the error.

[2016-07-27 03:26] renesansz commented on #53
@rlarmore ,
finally found the cause of the crash, submitted RP #55 to address this issue.
Let me know if this works! 👍

[2016-07-27 23:50] renesansz commented on #53
Issue fixed. closing now.

[2016-07-27 23:50] #53 closed

[2016-07-28 00:00] renesansz commented on #43
Issue fixed on PR #53 . Closing now.

[2016-07-28 00:00] #43 closed

[2016-07-28 02:19] renesansz commented on #31
@xedef , please verify if this is fixed now?

[2016-07-28 02:20] renesansz commented on #27
@xedef , please verify that this is fixed now?

[2016-07-28 02:50] renesansz commented on #45
@jonasfunk , It seems this issues isn't occuring anymore, I cannot replicate the issue.
Could you verify that this issue still exist? and if yes, can you provide a step-by-step instruction to replicate the issue?

[2016-07-28 02:53] renesansz commented on #21
@nuborian , does this issue is now resolved?

[2016-08-02 02:47] renesansz commented on #52
@jonasfunk , is this issue now resolved?

[2016-08-03 11:01] dpz3579 commented on #45
Hi did it get resolved ??
even i'm getting the same issue

following is my snippet
[code]

and following is my logs.
[code]
and this is output after selecting a sharing channel
[code]

[2016-08-03 11:28] jonasfunk commented on #45
Sorry for getting back @renesansz, but yes, this is still occurring. I'm not sure how to give you a step by step instruction that will help you. I have just followed the guides.

[2016-08-04 03:05] renesansz commented on #45
@dpz3579 @jonasfunk ,
I see, I'll try to figure out the issue. This is seems difficult to replicate.

[2016-08-04 05:16] rlarmore commented on #45
I'm running into the same issue. On one android device it works and on another it fails with the same error as mentioned in this issue.  Same Code.

Failing Device Log:
[INFO] :   BranchSDK: Branch Warning: You are using your test app's Branch Key. Remember to change it to live Branch Key during deployment.
[INFO] :   BranchSDK: posting to https://api.branch.io/v1/open
[INFO] :   BranchSDK: Post v

[2016-08-04 06:29] renesansz commented on #45
@rlarmore @jonasfunk @dpz3579 ,
Did you use your live branch keys on your `tiapp.xml` file?
See [testbed](https://github.com/BranchMetrics/titanium-branch-deep-linking/blob/master/testbed/tiapp.xml)

[2016-08-04 06:43] dpz3579 commented on #45
yes have integrated the keys for both test & live configuration in tiapp.xml

now that i'm following the testbed code...
i've integrated the code too..
but now i'm getting an old error
which i thought was resolved...

[code]

it's showing me the messaging app & all
module for android is 1.1.6
on android marshmellow.

whereas the testbed app is running fine with the same module version 1.1.6

[2016-08-04 07:01] renesansz commented on #45
@dpz3579 ,
I see, I'll take a look on the Java error and will submit a fix.

[2016-08-04 07:06] renesansz commented on #45
@dpz3579 ,
`tags` should be an array not an object.

[2016-08-04 07:49] dpz3579 commented on #45
@renesansz
i can report the issue is no more..

@jonasfunk & @rlarmore
can you guys look into modules folder & _check the version of module_ you are using..
if it is **1.0.0** please discard it use **1.1.6 for _Android_** & **1.1.7 for _iOS_**.

@renesansz can we have someone change the link below..
this guide has download SDK link, even the github has same links of S3
https://dev.branch.io/gettin

[2016-08-04 09:40] renesansz commented on #45
@dpz3579 , cool, glad to hear this issue is now resolved.
I don't have an access to the https://dev.branch.io so can't currently make any changes to the docs.

[2016-08-09 08:18] dpz3579 commented on #45
Hey looks like i'm getting the same issue with latest version update 5.3.1.G.A.

[code]

i think the issue is with module posting data..
can you check
as the same JSON when i tried using REST client on https://api.branch.io/v1/open
with data
[code]

i was able to get generated link
[code]

can you please look at the code from where the data is being posted, as i saw the module folder & i'm unable

[2016-08-09 10:49] jonasfunk commented on #45
I can confirm that the error is still present using 1.1.7. Using TiSDK 5.2.2.

[2016-08-10 02:05] renesansz commented on #45
Reopening issue.
@dpz3579 , have you check if you setup the `branch_key`?

[2016-08-10 02:39] dpz3579 commented on #45
yes I have the branch key of both live nd test environment set in my tiapp.xml file
I think the issue has to be looked inside module, from where we are posting the json...

do we have a dev branch, so that I can look into it..
for more info..
this error occurs as soon as i call branch.initSession();

and then while creating branchUniversalObject nd then the same issue rises again..

[2016-08-10 03:07] renesansz commented on #45
I see. fyi `Titanium` is just utilising the `Android SDK`.
You can see this line of [code](https://github.com/BranchMetrics/titanium-branch-deep-linking/blob/master/android/src/io/branch/sdk/TitaniumDeferredDeepLinkingSDKModule.java#L81)
We haven't done anything special with the `initSession` also.

[2016-08-10 04:19] dpz3579 commented on #45
I'll try to debug also at my level...
thanks for the input.. :+1:

[2016-08-10 09:19] jonasfunk commented on #52
Sorry for being a bit slow here. I can confirm that this issue is resolved! Thanks.

[2016-08-10 13:46] jonasfunk commented on #41
I can confirm that this works on iOS.

[2016-08-10 14:52] #52 closed

[2016-08-10 15:57] nitrag opened #56 "iOS: crash with sharesheet & mail"
Crashes when opening Mail.

[code]

[code]
[branch.crash.txt](https://github.com/BranchMetrics/titanium-branch-deep-linking/files/411551/branch.crash.txt)

[2016-08-10 16:41] nitrag commented on #56
Oh, this is only failing in simulator. Probably because there's no email account setup.

[2016-08-10 16:47] aaustin commented on #56
That's the issue! Sorry for the difficulties.

[2016-08-10 16:47] #56 closed

[2016-08-11 10:54] dpz3579 commented on #45
hey @renesansz

while debugging came to this point...

[code]

but why is it calling

this should not happen na...
or is it right..!!

please do let me know...

[2016-08-15 01:19] renesansz commented on #41
Thanks @jonasfunk , will close the issue now.

[2016-08-15 01:19] #41 closed

[2016-08-15 03:00] renesansz commented on #45
@dpz3579 , I cannot replicate the issue, and it works as expected in the testbed app.
Are you calling the `logout` method immediately?

[2016-08-16 09:30] dpz3579 opened #58 "branch.setDebug() error. 1.2.0"
Hi just took update of 1.2.0 library,
in index.js on setDebug()

getting the error in testbed example as

[code]

[2016-08-23 01:20] renesansz commented on #58
@dpz3579 , sorry for the late response.
I've submitted PR #59 , I've removed `setDebug` since it's a deprecated method.

[2016-08-23 07:35] dpz3579 commented on #58
thanks... :+1:

[2016-08-23 07:35] #58 closed

[2016-08-24 09:51] dpz3579 opened #60 "Callback not getting values"
i don't want to mark this as an issue,
but just as an question, as i'm unable to get data..

this is my branch link : 78iv.app.link/Fj9F5F405v
the data in my link is
[code]

this is the property of the link from live export is ..

but when i call
[code]
and i write alert(JSON.stringify(installParams));
it returns
[code]

[code]
and i write alert(JSON.stringify(sessionParams));
it returns
[code]

c

[2016-08-24 11:52] MapletoneMartin opened #61 "Crash on showShareSheet() on an iPad"
Hi, I just discovered that my iOS app crashes when trying to call showShareSheet() on an iPad. I'm using v 1.1.7 and on iPhone it works just fine with my current code, which is basically a copy of the example from the Titanium SDK docs, but on iPad I get  a:

[ERROR] :  *** Terminating app due to uncaught exception ‘NSGenericException’, reason: ‘UIPopoverPresentationController (<_UIAlertController

[2016-08-24 12:39] renesansz commented on #60
@dpz3579 , I'll take a look on the issue and see what I can do.
I'll report back witih my findings.

[2016-08-24 12:40] renesansz commented on #61
@MapletoneMartin
Hmm, I see, I'll try to look and see what I can do to fix this issue.
Never had tried to test it with iPad, I'll get back to you with my findings.

[2016-08-24 12:54] dpz3579 commented on #60
@renesansz thanks for looking...
awaiting revert from your side.. :+1:

even i'll try to debug at my level for the same thanks.   :smile:

[2016-08-26 05:18] nitrag opened #62 "Android: initSession freezing"
I've got the SDK integrated fine on iOS, now I'm trying to get Android stable.

I'm loading Branch initSession() in index.js but every other time I kill/reload the app initSessionFinished will never fire the callback so the app can't finish loading. I have to kill the app and restart it and it works.

Ideas? What can I do to debug and send logs?

[2016-08-26 10:17] renesansz commented on #61
@MapletoneMartin , submitted PR #63.
Let me know if this fixes the issue.

[2016-08-26 18:39] nitrag commented on #62
This is probably related to:

[2016-08-27 18:00] aaustin commented on #61
Merged!

[2016-08-27 18:00] #61 closed

[2016-08-27 18:05] aaustin commented on #47
Hey @jonasfunk - We believe this might be a specific issue related to Android. Can you confirm you're testing with a pre 5.0 device? We've found an unfortunate issue with our default domain (app.link) and 4.X Android devices while sharing to Facebook. We've got a workaround here: https://github.com/BranchMetrics/cordova-ionic-phonegap-branch-deep-linking/issues/181#issuecomment-239967048

[2016-08-27 18:06] aaustin commented on #31
Will close unless otherwise noted.

[2016-08-27 18:06] #31 closed

[2016-08-27 18:06] aaustin commented on #27
Will close unless otherwise noted.

[2016-08-27 18:06] #27 closed

[2016-08-27 18:07] aaustin commented on #44
Will close unless otherwise noted.

[2016-08-27 18:07] #44 closed

[2016-08-27 18:07] aaustin commented on #21
Will close unless otherwise noted.

[2016-08-27 18:07] #21 closed

[2016-08-27 18:42] aaustin commented on #62
Thanks for the note @nitrag! We'll dig in right away. @renesansz: Can you look into this one? cc @rubinsingh

[2016-08-27 18:48] aaustin commented on #60
Hey @dpz3579 - I see the issue.

Your match duration is set to `1` when you created the link. Match duration is the length of time we'll save an outstanding click to be matched to an app session. You can read more about it here: https://dev.branch.io/getting-started/matching-accuracy/guide/#methods-without-100-match-accuracy. This means that we'll only save the outstanding click for 1 second befor

[2016-08-27 18:48] #60 closed

[2016-08-29 06:43] dpz3579 commented on #60
thank's that's working perfectly fine... :+1:

[2016-08-29 07:07] jonasfunk commented on #47
Hi @aaustin. So as I understand, you only see this issue if you haven't defined a custom domain?
We have used a custom domain all the time.

[2016-08-29 07:57] renesansz commented on #62
@aaustin sure will do, I'll look in to the issue

[2016-08-30 02:13] renesansz commented on #62
Duplicate issue with #15 . Will close the ticket.

[2016-08-30 02:13] #62 closed

[2016-09-01 00:50] rlarmore commented on #45
I'm still have this issue. It only happens on one of my Android phones the LG G4. Do you have multiple phones to test?

Attached in the log of the non working phone...
[INFO] :   BranchSDK: posting to https://api.branch.io/v1/open
[INFO] :   BranchSDK: Post value = {
[INFO] :   BranchSDK:     "device_fingerprint_id": "297196577829930665",
[INFO] :   BranchSDK:     "identity_id": "27977333305728060

[2016-09-01 09:18] jonasfunk commented on #15
Maybe @aaustin or @renesansz would comment on the [ticket at Appcelerator](https://jira.appcelerator.org/browse/TIMOB-15253) to get some progress on this issue at Appcelerator? We are getting some bad reviews because of this, so we are very interested in getting this issue solved.

[2016-09-01 13:32] annakozy2011 opened #64 "Android: information missing in bio:initSession when opening link on clean start (through intent)"
I have implemented direct links opening in manifest like this (on my launcher activity):

 < intent-filter android:autoVerify="true">
                        < action android:name="android.intent.action.VIEW" />
                        < category android:name="android.intent.category.DEFAULT" />
                        < category android:name="android.intent.category.BROWSABLE" />

[2016-09-01 13:40] annakozy2011 commented on #64
PS: When I remove the above intent-filter from the manifest, everything works like before (it opens the app through the browser, but the bio:initSession information is correct)

[2016-09-01 14:07] annakozy2011 commented on #64
getLatestReferringParameters is also returning no data:

09-01 16:05:27.081: I/TiAPI(14134):  ::BRANCH::[getLatestReferringParams]:: {"+clicked_branch_link":false,"+is_first_session":false}

[2016-09-01 14:29] annakozy2011 opened #65 "Share is not working on Android 6.0.1 with release 1.2.2"
I am trying to use share an invite link.

This is my code:

`function invite(callback)
{
	var currentUser = Alloy.Globals.currentUser;
	currentUser.getCurrent();

	retainBranchObject = branch.createBranchUniversalObject({
	  "canonicalIdentifier" : "plans",
	  "title" : L("app_store_name"),
	  "contentDescription" :  L("app_store_desc"),
	  "contentImageUrl" : "http://www.b-wom.com/en/blog/wp-cont

[2016-09-01 14:36] annakozy2011 commented on #65
Sorry, I just checked the 1.0.0 version and I see the same problem. I don't know what to think. Could it be caused by my Android version (6.0.1)?

[2016-09-01 14:52] annakozy2011 commented on #65
Oh, no, it's actually WORKING. It just takes about 10 seconds to show the Facebook popup :(

[2016-09-01 16:03] aaustin commented on #65
Do all popups take that long or is it just Facebook? We haven't seen that latency in the native SDKs.

[2016-09-01 16:15] aaustin commented on #64
@renesansz It seems like Android App Links aren't working in the module if what she described is true. We had to do a rather custom build to support Universal Links on first launch if you remember: https://dev.branch.io/getting-started/universal-app-links/guide/titanium/#support-universal-links-on-cold-start

I wonder if maybe onNewIntent is not being properly called:
[code]

[2016-09-01 16:47] aaustin commented on #15
Hey @jonasfunk - My apologies. I'm on it.

[2016-09-01 18:02] annakozy2011 commented on #64
I do have the "newintent" event in the app, and it IS being properly called when the link is called when the app is running (I do have SINGLE TASK mode, with a quick fix of re-reading index.js on resume). But during the cold start, I can even get the link from Ti.Android.currentActivity.intent.data, and I even call initSessionWithData, but it does not help

[2016-09-01 18:26] annakozy2011 commented on #65
It actually later stabilized and started to take less. Thanks

On Thursday, 1 September 2016, Alex Austin <notifications@github.com> wrote:

[2016-09-01 19:07] aaustin commented on #65
Thanks for the update. Will close for now.

[2016-09-01 19:07] #65 closed

[2016-09-01 19:18] aaustin commented on #64
What device/OS version are you testing with?

[2016-09-01 22:12] annakozy2011 commented on #64
Android 6.0.1 Galaxy S6

On Thursday, 1 September 2016, Alex Austin <notifications@github.com> wrote:

[2016-09-01 23:44] renesansz commented on #64
@aaustin looking in to the problem now.

[2016-09-01 23:51] renesansz commented on #15
@jonasfunk - I apologize, will also work on it

[2016-09-01 23:55] renesansz commented on #45
@rlarmore I see, I only have Samsung S4, I'll try debugging w/ different phone from Genymotion.

[2016-09-05 11:24] AurelienHuet opened #67 "Entitlements error"
Hello,

When I install the project TestBed and when I run the app on iOS, I have this error:
_[ERROR] :  Chances are there is an issue with your entitlements. Verify the bundle IDs in the generated Info.plist file._

Is there a solution ?

[2016-09-05 12:46] annakozy2011 opened #68 "IDFA"
In appstore, I am receiving this :

Your app is using the Advertising Identifier (IDFA). You must either provide details about the IDFA usage or remove it from the app and submit your binary again.

Did you guys add the IDFA into the module without giving any information about it?

[2016-09-05 12:59] annakozy2011 commented on #68
Sorry, it's probably new Facebook SDK edition did it on me

[2016-09-05 12:59] #68 closed

[2016-09-05 13:04] jonasfunk commented on #68
@annakozy2011  It's stated that Branch uses the IDFA here: [https://dev.branch.io/getting-started/sdk-integration-guide/guide/titanium/#ios-submitting-to-the-app-store.](https://dev.branch.io/getting-started/sdk-integration-guide/guide/titanium/#ios-submitting-to-the-app-store.)

[2016-09-05 13:22] annakozy2011 commented on #68
Oh, great, so I submitted with IDFA and it was not FB module

[2016-09-05 17:18] aaustin commented on #67
Hey @AurelienHuet - Thanks for the note. Before we dig in much further, I want to confirm a couple things:
1. Did you add the URI scheme and Branch key to the `tiapp.xml`? https://dev.branch.io/getting-started/sdk-integration-guide/guide/titanium/#ios-projects
2. Did you add the associated domains files to `tiapp.xml`? https://dev.branch.io/getting-started/universal-app-links/guide/titanium/#add-t

[2016-09-05 17:55] aaustin commented on #47
Hey @jonasfunk - I'd like to get this one resolved. Can you share the exact settings of the Branch link (or an example link) you're creating where the OG info is not being populated along with your Branch key? I want to see if there's something fishy with how the Facebook robot is being redirected.

Also, for the given settings, is it reproducable 100% of the time or just occasionally? What is the

[2016-09-05 20:24] jonasfunk commented on #47
Sent you a mail @aaustin

[2016-09-06 16:20] aaustin commented on #47
This issue was resolved in support by directly specifying OG information in the Branch Universal Object. It seemed that Facebook was having trouble scraping the metadata from the $desktop_url.

[2016-09-06 16:20] #47 closed

[2016-09-08 04:17] renesansz commented on #67
I believe that this is not a plugin issue.
Will close the issue now.

[2016-09-08 04:17] #67 closed

[2016-09-12 14:08] aniruddhasm commented on #24
@annakozy2011 : Please help I am still stuck. I am using the same **branch sdk 1.2.2**. The main issue is the branch sdk is initiated only once when we fresh install the app it also gets all parameters.
The next time I restart the app I get an error " Cannot reach branch server."
Please help

[2016-09-12 14:10] annakozy2011 commented on #24
Sorry, this never happened to me

On Monday, 12 September 2016, Aniruddha Mahamuni <notifications@github.com>
wrote:

[2016-09-12 14:20] aniruddhasm commented on #48
@prakash-anubavam : Please help I am also stuck the ```branch.addEventListener("bio:initSession",** function(data) {```
I am using the new sdk 1.2.2 the branch sdk is initiated only once when we fresh install the app it also gets all parameters.
The next time I restart the app I get an error " Cannot reach branch server."
Please provide a sample code. As I've to urgently deploy my app on playstore

[2016-09-12 14:21] aniruddhasm commented on #24
@annakozy2011 : Can you please provide the sample code which is working for now.

[2016-09-12 14:50] aaustin commented on #48
Hey @aniruddhasm - Have you added an internet permission to your app?
```<uses-permission android:name="android.permission.INTERNET"/>```

[2016-09-12 20:18] annakozy2011 commented on #24
No, i cant. I am not branch employee and my code belongs to the client

On Monday, 12 September 2016, Aniruddha Mahamuni <notifications@github.com>
wrote:

[2016-09-13 06:14] aniruddhasm commented on #48
Thank you for prompt reply.
This is my tiapp.xml
[code]

Still it is not working.
Please help

[2016-09-14 17:20] aaustin opened #69 "Update Titanium with latest Branch libraries"
@renesansz
1. Please update iOS version to v0.12.9 https://github.com/BranchMetrics/ios-branch-deep-linking
2. Please update Android version to 2.4.0 https://github.com/BranchMetrics/android-branch-deep-linking
3. Please regenerate the new iOS and Android zip files as listed in the instructions https://github.com/BranchMetrics/titanium-branch-deep-linking#installation or https://dev.branch.io/gett

[2016-09-14 20:25] renesansz commented on #69
@aaustin , noted. will submit a PR for this soon.

[2016-09-15 01:59] rlarmore commented on #45
Any luck reproducing the issue?

[2016-09-16 08:14] renesansz commented on #45
@rlarmore I cannot reproduce the issue with the current Genymotion emulator.
however I'm looking into the Android SDK, will also verify if I got the implementation correct.

[2016-09-23 08:51] jonasfunk commented on #45
@renesansz Do you have any access to an actual device? Testing it here might yield a different result. And a note: The issue is random, so it will not happen on every session.

[2016-09-24 14:17] renesansz commented on #45
@jonasfunk yes,but I only have Samsung S4 running on Android Kitkat (v4.4.4).
I see, I'll try to catch the error every time I debug the app, and check what I can do to fix it.

[2016-09-29 03:39] renesansz commented on #69
hey @aaustin ,
just have submitted PR #71 , I was able to update the Branch libraries and also fixed the iOS share sheet crash issue wherein the `UIWebView` is initialized outside the main thread.

[2016-10-03 13:02] annakozy2011 opened #72 "In version 1.2.2, the email body and shareText is gone - iOS (please guys, have mercy!)"
Long story short, in IoBranchSdkBranchUniversalObjectProxy.m, you should fill in the array items BEFORE using it, like this (and not AFTER using it in initWithActivityItems) :

  if (shareText) {
        [items addObject:shareText];
    }
    if (linkProperties.controlParams[@"$email_body"]) {
        [items addObject:linkProperties.controlParams[@"$email_body"]];
    }

UIActivityViewController *

[2016-10-03 16:38] renesansz commented on #72
@annakozy2011 , I apologise for the logic error, will make a follow-up commit for the next update for the module.
Thanks for letting us know.

[2016-10-04 00:36] renesansz commented on #72
@annakozy2011 , I've included the fix for the next module update.
See PR #71 . I'll let you know if this has been merged. I apologise for the inconvenience.

[2016-10-13 16:10] annakozy2011 commented on #15
Interesting enough, we are using branch with Titanium and single task for about half a year already and I have not heard any complaints from client nor did my app become unstable.
True enough, index.js has to be considered just another window, that can be opened more than once, but in a new application it's not a big deal, and most old ones can be refactored too.
But from "issues" page, I have a f

[2016-10-20 05:37] renesansz commented on #45
@jonasfunk , I cannot replicate this issue, the only problem that I can find is that the `branch_key` weren't set based from the given logs.

[2016-10-20 07:31] jonasfunk commented on #45
Ok. Thanks for looking into this @renesansz.

[2016-10-23 10:52] ainne10x29 commented on #48
Hi, I having the same issue. I am using Ti5.4 :) Any updates on this issue? Thanks.

[2016-10-29 13:00] ainne10x29 commented on #45
I am having the same issue. Any update on this one?

[2016-11-03 02:21] renesansz commented on #45
@ainne10x29 I've submitted PR #71 hopefully this will resolve the issue.

[2016-11-03 02:24] sojanpr commented on #45
Hey Rene,
Does this build have iOS module built with correct version number as we
requested in the last email?

On 2 Nov 2016 7:21 p.m., "Renemari Padillo" <notifications@github.com>
wrote:

[2016-11-03 02:31] renesansz commented on #45
@sojanpr the iOS module version we have integrated here was `v0.12.9` is that correct?

[2016-11-03 04:36] sojanpr commented on #45
Yes but the pr last time doesn't have Titanium iOS module built. Can you
please add that to the PR

On 2 Nov 2016 7:31 p.m., "Renemari Padillo" <notifications@github.com>
wrote:

[2016-11-03 08:45] renesansz commented on #45
@sojanpr I've updated the PR for the iOS module. let me know of your thoughts.

[2016-11-04 04:26] ainne10x29 commented on #45
@renesansz, ive tried to use the new version 1.4.0 of android sdk but I still encountered the same issue. Please note that my iOS application doesnt encounter issue and always initialize successfully.

[2016-11-05 16:50] ainne10x29 opened #76 "[ANDROID] Trouble Initializing Branch. Unable to reach the Branch servers, please try again shortly."
I tried everything to investigate what really causes this error message.

If the application was newly installed, I get a successful response from the server: from deeplink or just a simple app launch. But on the second or third launch, I always receive this error message.

After checking, it has something to do with the Storage Permission of the device. If that permission was turned-on, then this

[2016-11-05 17:58] aaustin commented on #76
Hey @ainne10x29 - I just merged in a [big fix](https://github.com/BranchMetrics/titanium-branch-deep-linking/pull/75) for this issue specifically. Can you try updating the module to the latest version?

[2016-11-05 18:59] ainne10x29 commented on #76
Hi Alex, I tried the latest sdk with version 1.4.0. Unfornately, my application crashed. :)

[INFO] :   start initSession
[INFO] :   InjectionManager: dispatchOnViewCreated > Target : com.ainne.test.TestActivity isFragment :false
[INFO] :   TiRootActivity: (main) [0,0] checkpoint, on root activity resume. activity = com.ainne.test.TestActivity@f647dd3
[INFO] :   art: Rejecting re-init on previousl

[2016-11-07 02:37] gianina-ingenuity commented on #76
Hi @ainne10x29 did you use Branch-2.4.6.jar in the lib folder?

[2016-11-07 02:43] ainne10x29 commented on #76
nope.. I just downloaded the sdk 1.4.0 from the android/dist.. I thought it was the latest

[2016-11-07 02:56] sojanpr commented on #76
@ainne10x29  It seems like Multi Dex issue. Could you please make sure you are supporting multi dex support for your Android module

[2016-11-07 03:06] gianina-ingenuity commented on #76
@ainne10x29 if you are upgrading to android/dist 1.4.0 please use the android/lib Branch 2.4.6.jar

[2016-11-07 05:13] ainne10x29 commented on #76
zip file for version 1.4.0 already contains 2.4.6.jar. I downloaded it from here:

https://github.com/gianina-ingenuity/titanium-branch-deep-linking/tree/9fbc4e77a28be143e55818d5122f92a6546433cc/android/dist

[2016-11-07 05:14] ainne10x29 commented on #76
@sojanpr how will i check the multi dex support?

[2016-11-08 16:29] ainne10x29 commented on #76
@sojanpr @gianina-ingenuity @aaustin any update on this? :)

[2016-11-09 06:56] gianina-ingenuity commented on #76
Hi @ainne10x29

can you try the module from here instead https://github.com/BranchMetrics/titanium-branch-deep-linking/blob/master/android/dist/io.branch.sdk-android-1.4.0.zip

Also it seems according to this https://jira.appcelerator.org/browse/TIMOB-18082 they have fixed multidex issues in Titanium SDK 6.0.0 so can you try to upgrade?

[2016-11-09 06:56] aaustin commented on #76
Hey @ainne10x29 Sojan found this additional package that can help apply the multidex support:   https://github.com/jwall149/cordova-multidex.
Installing is as simple as `cordova plugin add --save https://github.com/jwall149/cordova-multidex`. Can you give this a try?

Separately, we're working on an Android update which will hopefully cut down on the need for this, but it's still in the works with

[2016-11-10 09:07] renesansz commented on #69
PR merged, closing issue now

[2016-11-10 09:07] #69 closed

[2016-11-10 09:12] renesansz commented on #72
PR merged and updated, let me know if this is still an issue @annakozy2011

[2016-11-10 09:14] annakozy2011 commented on #72
I'll let you know when I am able to update the module. Now I can't as we are about to release

[2016-11-14 16:25] ainne10x29 commented on #76
do i really need to update my titanium? does the latest changes really has something to do with the multidex.. i mean, the previous zip files are working even though my titanium is 5.5.1.. it just that this issue/error always occur...

[2016-11-15 02:05] renesansz commented on #76
@ainne10x29 we were just trying if maybe updating Titanium might solve some issue as they've marked the multidex issue as `closed` and merged the fix to 6.0.0. Since we can't figure out the cause of the error on the module's side.

[2016-11-15 16:25] aaustin commented on #76
@ainne10x29 We released the new version of Android last night and I've requested @gianina-ingenuity to roll a release with it. This should cut down on the occurrence of multidex issues

[2016-11-16 07:49] ainne10x29 commented on #76
Yes please. Hopefully, it will work the same as the 1.2.0 version. It's really stable, it just happened to have the issue when the Storage Permission is ON. Thanks.

[2016-11-16 12:34] renesansz commented on #45
@ainne10x29 Can provide a sample code of your implementation? also please provide the logs.
Thanks

[2016-11-16 16:33] ainne10x29 commented on #45
@renesansz - nothing special, you just need to add external_storagr permission, then turn it On.. :) then the issue will occur... i raised an issue, but the latest one they have providedcreated a new issue(app crashing with multi-dex.)

[2016-11-17 02:40] renesansz commented on #45
@ainne10x29 @dpz3579 I can't really replicate the errors that you're having in Android.
Here's my detail for the test:
[code]

Here are my logs:
On app initialize
[code]

Upon using show share sheet method and selected `Messaging`
[code]

I can't figure out why you are encountering issues with the module. 😞

[2016-11-17 05:42] aaustin commented on #76
Hey @ainne10x29 - We just merged in https://github.com/BranchMetrics/titanium-branch-deep-linking/pull/78 with the latest Android lib. Please check if it addresses the multidex issue at your earliest convenience!

[2016-11-17 07:10] ainne10x29 commented on #76
@aaustin - Thanks for the update. I test the new androidSDK zip file in the testbed app(with external_storage permission turned-ON) and found the following issues:
1. "bio:initSession" return data is always empty, the previous SDKs has "+clicked_branch_link" and "+is_first_session" fields. Now, no return at all.
2. Since there is no return from the "bio:initSession", I test the app using "branch.g

[2016-11-17 12:46] renesansz commented on #45
@ainne10x29 I see, so I assumed this issue is related to issue #76 ? or this is a separate concern?

[2016-11-17 13:54] ainne10x29 commented on #45
add the permission on your tiapp.xml inside manifest tag. It will add a storage permission on application setting. then, manually turn it om on device settings-->application manager-->your application-->Permissions

[2016-11-17 14:11] ainne10x29 commented on #76
Also, 1.5.0 version resolve the multidex and crashing issue i encountered in 1.4.0.. Thanks.. I hope that this issue connected to Storage Permission will be resolve soon. Waiting for your updates.. :) Thank you..

[2016-11-18 11:23] ainne10x29 commented on #76
bio:initSession event is not working.

[2016-11-18 11:39] sanceda2 commented on #76
I am also experiencing the same issue. Please fix.

[2016-11-18 16:30] aaustin commented on #76
Hey guys - escalating internally so that we can check if anything broke

[2016-11-18 18:14] sojanpr commented on #76
@ainne10x29 @sanceda2  We found an init session issue on Android happening  when initSession is called from "onCreate()" as supposed to called form "onStart()". Can you please make sure `branch.initSession()` is called from `onStart` method.

[2016-11-18 18:23] ainne10x29 commented on #76
Hi, the branch.initsession() was called inside the onStart method. I tested it using the testbed application. The latest one you have in its repo. Also, please do not forget that the main issue is no return/error when Storage permission is ON. It just happened that additional issue occur on the latest module provided. Thank you.. :)

[2016-11-18 18:28] sojanpr commented on #76
@ainne10x29  Thanks for confirming it. Will check the  issue with storage permission and update soon

[2016-11-21 02:23] renesansz commented on #45
Hey @ainne10x29 , are you referring to this permission?
[code]

I apologize, I'm not quite familiar with Android permissions.

[2016-11-21 02:32] ainne10x29 commented on #45
nope. not the installLocation preference. Add this inside the manifest tag:
<android xmlns:android="http://schemas.android.com/apk/res/android">
   <manifest>
<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
   </manifest>
</android>

[2016-11-21 02:34] renesansz commented on #45
oh, I see, will do. thanks

[2016-11-23 17:42] aaustin commented on #72
Closing this out as it's been address. Sincere apologies from the Branch team.

[2016-11-23 17:42] #72 closed

[2016-11-23 17:44] aaustin commented on #64
This issue has been resolved as well. We're currently suffering from a similar one on iOS but the team is investigating.

[2016-11-23 17:44] #64 closed

[2016-11-24 18:17] aaustin commented on #76
We just rolled out an update with the latest Android library which fixes a lifecycle issue. It's a long shot, but can you try the new version?

On our testbed, we tried changing the storage permission ON/OFF and can't seem to replicate the issue. Is it occurring across all devices or just one?

[2016-11-27 11:55] annakozy2011 opened #80 "generateShortUrl seems to be logically broken"
I expect to see the error here after testing (and I will probably add the $desktop_url to arg1, to avoid errors), but here is the problem

for (id key in arg2) {
        [props addControlParam:key withValue:[arg1 objectForKey:key]];
}

As you see, we enumerate keys in arg2 dictionary, but grab it from arg1 dictionary. Not good.

[2016-11-27 16:42] annakozy2011 commented on #45
This issue is happening to me in the new app I am trying to make compatible with branch.io

The app name is BuzNezzCard.

It works on iOS, but on Android it gives this error : "method POST must have a request body" exactly as described above.

In the other app on the same device, for unknown reasons, it works (same branch SDK.....)

I tried upgrading SDK to the latest version, the error still keep

[2016-11-27 17:13] annakozy2011 commented on #45
The log I am receiving:

11-27 18:10:10.101: I/BranchSDK(6084): posting to https://api.branch.io/v1/open
11-27 18:10:10.101: I/BranchSDK(6084): Post value = {
11-27 18:10:10.101: I/BranchSDK(6084):     "device_fingerprint_id": "331447806059763446",
11-27 18:10:10.101: I/BranchSDK(6084):     "identity_id": "331447806282057870",
11-27 18:10:10.101: I/BranchSDK(6084):     "is_referrable": 1,
11-27 18

[2016-11-27 17:29] annakozy2011 commented on #45
Update: I could only get rid of this error by resetting my branch key.

I have no clue why it happened.

[2016-11-27 17:58] aaustin commented on #45
Anna - left you a message on the Android issue. Can you add a note to how you "reset your branch key". This could help us understand why this is happening?

[2016-11-27 18:01] annakozy2011 commented on #45
Unfortunately, I just check and the error is back again. I could only run it once :(

I reset the key on the account, from the dashboard (General tab of Settings).

Unfortunately, it does not give me the option to do it again, as I opted for the old key to remain functional.

[2016-11-27 18:24] annakozy2011 commented on #45
I changed to the test key, it disappeared.

Then back to either one of my live keys, and the issue is back again.

[2016-11-27 18:25] annakozy2011 commented on #45
I changed to test key - the issue was gone

Back to live key - reappeared.

Back to test key - it did NOT disappear this time around. Seems like it works only once per key, after that it fails.

[2016-11-27 18:57] annakozy2011 commented on #45
Ok. Here is the hint.

If you CLEAR CACHE, and force-close the app, next time Branch works as expected. No error.

Cache, though, messes up  the whole thing.

[2016-11-27 19:56] annakozy2011 commented on #45
I noticed that when the key is new, something called LinkCache is getting cleaned. I don't know what it is, but it explains why it would start working when the key is changed.
The problem must be somewhere with LinkCache thing.

[2016-11-27 21:04] annakozy2011 commented on #76
That's a life saver. I indeed removed external storage permission and it just works.
Thankfully, I don't need external storage. But @aaustin, I used the latest version of the module, the issue is still there.

[2016-11-27 21:05] annakozy2011 commented on #45
It is the same issue as this other one https://github.com/BranchMetrics/titanium-branch-deep-linking/issues/76

I confirm that removing WRITE_EXTERNAL_STORAGE permission fixed it.

[2016-11-27 21:07] annakozy2011 commented on #45
So it has to do with some cached data, stored in External Storage.
I confirmed, it used to be 2MB cache before I removed the permission, now it's just 380Kb.

[2016-11-28 00:16] aaustin commented on #45
That's so weird. We don't experience this on any other 3rd party modules or the core libraries. Thanks for all your investigative work! I'll update the docs to mention there's some bug with external storage & titanium

[2016-11-28 01:08] aaustin commented on #45
I guess we can finally close this one 😅

[2016-11-28 01:08] #45 closed

[2016-11-28 16:48] annakozy2011 opened #81 "Android: generate links offline"
This is not really a bug, but more like a question.

How do I generate offline link on Android? On iOS it's built into the SDK, but on Android it simply returns error.

[2016-11-28 16:53] annakozy2011 commented on #81
I mean I probably can generate a link of the sort https://buznezzcard.app.link/?myparam=XXX

And that should work...

[2016-12-06 06:04] gianina-ingenuity commented on #81
Hi I dont think this is available in android or titanium but you can try https://dev.branch.io/getting-started/configuring-links/guide/#appending-query-parameters-to-links

[2016-12-06 06:36] gianina-ingenuity commented on #80
Hi I will fix this and do a PR thank you for pointing this out.

[2016-12-06 10:24] annakozy2011 commented on #76
Unfortunately I need READ_EXTERNAL_STORAGE permission for my app, and with this permission, the error comes back.

[2016-12-06 10:24] annakozy2011 commented on #76
@aaustin, could you please look into it??!

[2016-12-06 11:00] ainne10x29 commented on #76
@aaustin, this is happening on all of our Android devices. Remember to manually turn-ON Storage permission on Application Settings before replicating the issue. Thanks. :)

[2016-12-06 11:49] annakozy2011 commented on #76
I don't turn it on manually, I request permissions as usually on Android 6.0.0

[2016-12-06 11:52] ainne10x29 commented on #76
@annakozy2011 - yep... as long as it is turn-on.. :)

[2016-12-06 13:15] annakozy2011 commented on #76
Summary : I can't use branch on Android for apps that require camera and gallery access :(
Because they use READ_EXTERNAL_STORAGE requirement :(

I turned off the read external storage permission, and camera/gallery stopped working

[2016-12-06 13:19] annakozy2011 commented on #76
@aaustin this is the same problem as this one : https://github.com/BranchMetrics/titanium-branch-deep-linking/issues/45

I don't understand why you closed it, it is still happening.

[2016-12-06 13:39] annakozy2011 commented on #76
Are we using okhttp in Branch Android SDK? The error is theirs...

https://android.googlesource.com/platform/external/okhttp/+/master/okhttp/src/main/java/com/squareup/okhttp/Request.java

[2016-12-06 14:51] annakozy2011 commented on #76
Once again the log of the error:

12-06 15:49:16.741: D/TitaniumDeferredDeepLinkingSDKModule(18832): (KrollRuntimeThread) [314,1405] start init
12-06 15:49:16.741: D/GraphRequest(18832): Warning: Request without access token missing application ID or client token.
12-06 15:49:16.741: I/System.out(18832): (HTTPLog)-Static: isSBSettingEnabled false
12-06 15:49:16.741: I/System.out(18832): (HTTPLog)-

[2016-12-07 20:53] aaustin commented on #76
Hey guys - I see your desperate pleas for help and it pains my hear to read them. First, here are the facts:
0. Post body of the network request gets set to null somehow and throws an exception
1. Branch Android uses the best practice recommendation for HTTP POST/GET (see [here](https://github.com/BranchMetrics/android-branch-deep-linking/blob/master/Branch-SDK/src/io/branch/referral/RemoteInterfa

[2016-12-07 21:36] annakozy2011 commented on #76
I do not understand how it is related to Appcelerator. I do not see anything about Appcelerator framework that would cause caching problem in HttpsURLConnection :(

[2016-12-07 21:38] annakozy2011 commented on #76
It is also related to cache. If you clean cache before launch (you know, that button in settings), bug disappears. I have an impression that HttpsURLConnection and/or OutputStreamWriter are using the cache in some way that is causing this problem.

[2016-12-07 21:50] annakozy2011 commented on #76
Ok, guys, I found the bastard.

What should be deleted is this folder (at least so it looks in my File Explorer, no more info right now):

sdcard/Android/data/<app_id>/cache/_tmp/remote-cache

If you delete this folder, next time it just works.

[2016-12-07 22:54] aaustin commented on #76
We don't use it for anything, and definitely nothing Titanium specific. I'm surprised other network-based libraries aren't running into this issue...

[2016-12-07 22:55] annakozy2011 commented on #76
But this works.

I suspect HttpsURLConnection or its stream writer is storing something there and then has trouble reading back.

[2016-12-08 00:08] gianina-ingenuity commented on #76
Hi can you try
Titanium.Filesystem.getApplicationCacheDirectory() or
Titanium.Filesystem.getExternalStorageDirectory()
to see if you can get the correct directory you need?

[2016-12-08 00:13] annakozy2011 commented on #76
Yeah, I am on it right now, but I had to write a module to extract the external cache directory path.

And then, it seems that recursive deletion of the directory is not working, or maybe it's 1am here, I had some trouble actually deleting it. Will update in a couple of minutes

[2016-12-08 00:19] annakozy2011 commented on #76
Ok, it works reliably now. That's the module for getting the external cache directory.

And this is the code. I call this function before initSession and it just works.

[code]
[ti_androidexternalstoragemodule-master 2.zip](https://github.com/BranchMetrics/titanium-branch-deep-linking/files/638072/ti_androidexternalstoragemodule-master.2.zip)

[2016-12-08 00:20] annakozy2011 commented on #76
Uff 8-/

[2016-12-08 01:02] annakozy2011 commented on #76
Here is another script for removing the same folder (it looks like image
cache folder.... so some images may be gone... gotta check it later...
maybe selective cleanup is required...)

https://gist.github.com/shanestillwell/5390980

El El jue, 8 dic 2016 a las 1:08, GIanina <notifications@github.com>
escribió:

[2016-12-19 09:52] AndreaVitale opened #83 "[iOS] Session will not start if the app is fully closed"
Use case precondition: the app is fully closed.
- First attempt: I click on a branch.io link, my app will be opened and the `bio:initSession` event is fired with an **empty** payload (no custom data will be forwarded and _clicked_branch_link_ is set to false.)
- Second attempt: after the first attempt, I close my app also from the background, I click on a branch.io link and my app will be opened c

[2016-12-19 11:52] AndreaVitale opened #84 "[iOS] Logical error on generateShortUrl callback handling"
Actually we have two ways to handling a `generateShortUrl` result: via callback and via event listener.
The first one is working correctly but for the second one, if you don't give a callback as a third argument there is an out of bound exception. [Here](https://github.com/BranchMetrics/titanium-branch-deep-linking/blob/master/iphone/Classes/IoBranchSdkBranchUniversalObjectProxy.m#L148) you can fi

[2016-12-20 00:45] gianina-ingenuity commented on #83
Hi this PR still has issues I added  a new module but I have not yet created a new PR https://github.com/gianina-ingenuity/titanium-branch-deep-linking/blob/master/iphone/io.branch.sdk-iphone-1.4.1.zip

[2016-12-20 00:51] gianina-ingenuity commented on #83
I set self.accountForFacebookSDK to true on my end as a fix, shouldWaitForInit is already set to YES it didn't fix it on my end so my fix might be different. I am also not aware as to why there is a discrepancy with the IOS SDK I think is with how the module works differently in Titanium . Thanks for suggesting a patch for the issue as well.

[2016-12-21 16:24] aaustin commented on #83
Hey @AndreaVitale - We've just merged in a fix and can confirm this is resolved. https://github.com/BranchMetrics/titanium-branch-deep-linking/pull/87

[2016-12-21 16:24] #83 closed

[2016-12-21 16:25] aaustin commented on #81
Closing this issue - thanks Gianina

[2016-12-21 16:25] #81 closed

[2016-12-22 04:01] #84 closed

[2016-12-22 04:02] aaustin commented on #80
This should be all taken care of - Thanks Anna!

[2016-12-22 04:02] #80 closed

[2017-01-02 13:12] AurelienHuet opened #89 "Titanium SDK 6.0.0."
The Android Module is not compatible with the Titanium SDK 6.0.0.

From Appcelerator Titanium (http://www.appcelerator.com/blog/2016/10/beta-releases-for-6-0-0-of-sdk-cli-4-8-0-of-studio-and-ga-1-2-8-2-0-0-for-hyperloop/), here's changes to do :

"V8 has been updated to the latest Long Term Support (LTS) release (TIMOB-19790). Android titanium modules must be rebuilt with this V8 in order for them

[2017-01-03 05:48] gianina-ingenuity commented on #89
Thank you we are currently working on this.

[2017-01-05 19:34] gianina-ingenuity commented on #89
#90 created PR the binary here https://github.com/gianina-ingenuity/titanium-branch-deep-linking/blob/master/android_ti6x/dist/io.branch.sdk-android-1.6.0.zip should work for Titanium 6.

[2017-01-10 01:17] gianina-ingenuity commented on #89
#90 has been merged in and the module is available here https://github.com/BranchMetrics/titanium-branch-deep-linking/blob/master/android_ti6x/dist/io.branch.sdk-android-1.6.0.zip

[2017-01-25 02:52] gianina-ingenuity commented on #89
module for Titanium 6 is available, now closing this issue

[2017-01-25 02:52] #89 closed

[2017-01-28 18:50] julien9999 opened #91 "Multiple icons"
Hi, I followed the instructions and keep getting 2 icons on Android, iOS working fine..
Any clue?
thanks

[2017-01-28 18:55] julien9999 commented on #91
<android xmlns:android="http://schemas.android.com/apk/res/android">
        <manifest android:versionCode="102" android:versionName="1.0.2">
            <application android:theme="@style/Theme.AppCompat.Light">
                <activity android:label="@string/app_name" android:name="com.facebook.LoginActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
                <activit

[2017-01-28 18:56] julien9999 commented on #91
<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="io.branch.sample" android:versionCode="1" android:versionName="1.0" >
    <uses-permission android:name="android.permission.INTERNET" />

    <application>

        <meta-data android:name="io.branch.sdk.BranchKey" android:value="key_live_" />

    </application>
</manifest>

[2017-01-29 15:36] gianina-ingenuity commented on #91
Hi thanks for the report. Can you clarify what you mean by two icons? I am trying to replicate the issue.

[2017-02-20 16:22] annakozy2011 commented on #89
Just for the history, this needs to be done to the JAR file shared above, for things to work fine:

zip -d *.jar org/appcelerator/titanium/gen/bindings.json

Because it is causing the following bug:

https://jira.appcelerator.org/browse/TIMOB-23502

[2017-03-01 23:42] joshualambert commented on #15
Big time fighting with this recently. Was a workable solution ever found? I'm pulling my hair out over this.

[2017-03-02 20:41] joshualambert commented on #15
@annakozy2011 We're in the same boat.

[2017-03-04 11:56] zarir opened #92 "Cannot build android apk with branch sdk 1.6.0"
Getting the following error while building apk using Titanium sdk 6.0.2

[ERROR] :  Failed to sign apk:
[ERROR] :  jarsigner: unable to sign jar: java.util.zip.ZipException: duplicate entry: assets/README

This error comes when I am using Facebook and Maps module provided by Appcelerator along with branch sdk

Please look into this. Its urgent

[2017-03-05 18:34] aaustin commented on #15
Hey @joshualambert - Check out the Titanium issue preventing this. https://jira.appcelerator.org/browse/TIMOB-15253 It looks like there's some movement, but we're pretty blocked until they fix it. Anna seems like she just deployed with singleTask and is dealing with the edge cases. Please do comment on the Titanium issue as there's nothing we can do until there's is fixed.

[2017-04-15 15:32] rlarmore opened #93 "Error fetching build verification"
This happens every time I try to build.  I remove the module and it will build fine. Looks like an issue when appcelerator is calling https://platform.appcelerator.com/api/v1/auth/build-verify with all the information it returns "Error fetching build verification".

Branch 1.5.1
Operating System
  Name                        = Microsoft Windows 10 Home
  Version                     = 10.0.14393

[2017-04-22 19:21] rlarmore commented on #93
Looks like appcelerator fixed it.

[2017-04-22 19:21] #93 closed

[2017-05-26 16:22] AndreaVitale commented on #69
Is possibile to have an update for both platforms? Android is on 2.5.1 and the latest is 2.8.0.

[2017-06-13 19:50] jonasfunk commented on #92
Jira ticket here: https://jira.appcelerator.org/browse/TIMOB-23502
Do this in each module folder: zip -d {jar name} assets/README
With e.g. ti.map folder you do:
zip -d map.jar assets/README
Result:
deleting: assets/README

[2017-06-14 23:17] jdee commented on #92
We've just released a new version, which is also here in the master branch. This mainly updates the embedded Branch SDKs to the latest versions: 0.15.3 (iOS) and 2.8.0 (Android). It was also built with the 6.1.0.GA SDK. The Stack Overflow answer on that Jira ticket (https://stackoverflow.com/a/40843754/875725) said this bug was fixed with Titanium 6.1.0. Perhaps this will help address the issue.

[2017-06-15 02:33] zarir commented on #92
Thanks a ton. I will update the sdk.

On Thu, 15 Jun 2017 at 4:47 AM, Jimmy Dee <notifications@github.com> wrote:

--
Thanks & Regards

Zarir Bhesania

[2017-06-16 19:13] jonasfunk opened #96 "Debug mode"
I've already ran this through support, since this is more a question than a bug, but they guided me back here: Looking at the Titanium repo, it says that in version 1.2.1 the setDebug() was removed because it’s deprecated. But the docs still says that it’s the way to debug / simulate fresh installs.
I'm guessing the docs havn’t been updated, but is there another way to simulate a fresh install?

[2017-06-23 18:23] jdee commented on #96
Hi @jonasfunk. I see the PR you're referring to: #59. It looks like that PR was partly right and partly wrong. The `setDebug` method is deprecated in the Android SDK. See https://dev.branch.io/getting-started/integration-testing/guide/android/#use-debug-mode-to-simulate-fresh-installs for details. You can just add/modify those lines in the embedded Android manifest in your tiapp.xml with the curre

[2017-06-23 21:42] jdee commented on #96
I misspoke. I'm not sure of the actual history, but `setDebug` is supported on Android as well as iOS and will be supported in the next release of this SDK, which will probably be early next week. On Android, you can also add a flag in the Android manifest. Original comment updated.

[2017-06-29 17:41] jdee commented on #96
This has been fixed in the master branch and released as Android: 1.6.2; iPhone: 1.5.1. This release also updates the Branch Android SDK to 2.9.1.

[2017-06-29 17:41] #96 closed

[2017-07-06 17:35] AndreaVitale commented on #15
As per the docs we have to specify the "launchMode='singleTask'" but now, compiling with Ti SDK **6.1.1.GA** this warning is shown during the compile process:
`[WARN]  android:launchMode should not be used. Ignoring definition from .Sdk6TestActivity}}` so we can't do as specified also in your testbed app.

In which way we can solve this?
Thank you!

[2017-07-08 17:12] aaustin commented on #15
Hey Andrea - If you look at the above thread, it's a core Titanium issue that will need to be fixed. If not using singleTask, there are cases where deep link data will not be passed through. Anna has seen success by reloading index.js on resume of the launcher activity. Here is her comment:

I added this in alloy.js :

[code]

[2017-07-29 07:30] nuborian opened #98 "Disable Logs"
Hey,

i really love the module, but it prints out a lot of stuff to the console... Can we stop this?

[2017-08-02 14:13] jonasfunk opened #99 "How to select the correct key depending on test or production environment"
The [docs](https://dev.branch.io/getting-started/integration-testing/guide/titanium/#ios-projects) says that it's possible to add both test and live keys in tiapp.xml:

I've added both keys, but it's not apparent how to apply the correct key depending on environment.

[2017-08-03 15:29] jdee commented on #99
Hi @jonasfunk. I know how to do it on the native level, but I don't know enough about Titanium to know if there's a right way to do it here. Does Titanium support, e.g., different `tiapp.xml` files per environment? Or can you declare different things in the `tiapp.xml` for different environments? If I can find the right way to do it in Titanium, I can modify testbed with an example and provide som

[2017-08-04 05:59] jonasfunk commented on #99
There is no supported way of declaring different tiapp.xml files per environment, although a [recent feature ticket suggests there should be](https://jira.appcelerator.org/browse/TIMOB-24556), and only [module declarations](http://docs.appcelerator.com/platform/latest/#!/guide/tiapp.xml_and_timodule.xml_Reference-section-src-29004921_tiapp.xmlandtimodule.xmlReference-modules) have a deploy-type at

[2017-08-07 16:35] jdee commented on #99
@jonasfunk How urgent is this problem for you? I may be able to give you a quick workaround without releasing anything. And what is your actual goal? In particular, it's pretty easy to use the test key in debug builds and the live key in release builds. But you may want to do things like a release build with the test key in order to distribute, say, a staging build via Crashlytics. That's more wor

[2017-08-08 09:56] jonasfunk commented on #99
It's not urgent. Was just getting weary of changing the keys manually, and convinced that I would someday forget changing them from test to production, I decided to write som custom logic to handle test/prod keys, as the docs states you should be able to. A solution where I wouldn't have to correct the keys for release/test builds would be ok for now.

[2017-08-18 15:36] jdee commented on #99
Hi @jonasfunk. Thanks for making that point. I think it's important in a production app. Any time there's a manual step that has to be taken, there's the potential for error. (I've seen it happen with prod apps before as well.) This needs to be supported in configuration rather than code. I don't have enough knowledge of Titanium to know how well this SDK can support Branch keys per configuration

[2017-08-23 20:27] nuborian commented on #92
Anything new? Tried the newest version of the module with <sdk-version>6.1.2.GA</sdk-version> can't compile android apk ...

[2017-09-11 13:54] nuborian opened #101 "[Android] Error with 6.1.x"
Hi,

the SDK is working great under ios, but trying to use the share function with android doesn't. Is there any update planed for the sdk to work fine with the newest Titanium SDK version ?

[2017-09-11 18:19] jdee commented on #101
Sorry you're having problems. The current SDK supports 6.1. Please see the testbed app in the repo, which uses 6.1. The share sheet seems to work fine with Android. Try this:

[code]

In the testbed app, click "Branch Universal Object." On the next page, click "Init BUO" and then "Share Sheet." This seems to work fine when I test it. Can you reproduce your error in testbed? If you can provide a sp

[2017-09-12 09:57] nuborian commented on #101
Hey,

thanks for the quick reply:

`[ERROR] :  WindowManager:
[ERROR] :  WindowManager: android.view.WindowLeaked: Activity org.appcelerator.titanium.TiTranslucentActivity has leaked window com.android.internal.policy.PhoneWindow$DecorView{8206a74 V.E...... R.....ID 0,0-840,270} that was originally added here
[ERROR] :  WindowManager: 	at android.view.ViewRootImpl.<init>(ViewRootImpl.java:368)
[ER

[2017-09-19 13:49] nuborian commented on #101
"Push"

[2017-09-19 16:53] jdee commented on #101
Hi @nuborian. The short answer is, I have no idea and can't offer very much help. I really don't know very much about Titanium or this SDK, to be honest. Given that this works fine with testbed, it looks like an incorrect inference of application state. That inference probably works in most cases, but not in yours. Since others who have reported different issues have otherwise had no trouble using

[2017-10-06 10:45] Claymm commented on #15
Same here, still see the following warning:
[code]

Will try Anna's solution. Would be good to get the `readme.md` updated accordingly if this is the definite solution.

[2017-10-09 19:12] DouglasHennrich commented on #15
[code]

my tiapp.xml:
[code]

[2017-10-16 22:30] DouglasHennrich commented on #15
ping ? @renesansz @aaustin
I'm trying to use your module for android but never get it work... There's that singleTask problem also my `Branch.initSession()` always returns `Invalid Request`

[2017-10-17 00:18] jdee commented on #15
Hi @DouglasHennrich. Sorry for the delay.

The most promising fix for the singleTask problem seems to be the one above, adding this to alloy.js:

[code]

I want to test this before putting it in testbed and the docs, but perhaps this will help you right away. As of 6.x, Titanium strips off the android:launchMode, so there's no need to add that.

When Branch.initSession returns "Invalid Request," t

[2017-10-17 00:30] DouglasHennrich commented on #15
on my alloy.js I have this:
[code]

on my home.js I have this:
[code]

on my tiapp.xml I have this:
[code]

my `@string/branch_key` is equal to `key_live_opsPiwKzrOCbJf7Jj4ynWljezra084te`

when I click on the shared link to open my app passing the variables to do some function, it just "reload" the home and do nothing. on `iOS` it works just fine.

TiSDK -> `6.2.2.GA`
Appc CLI -> `6.2.4`
Android m

[2017-10-17 00:40] jdee commented on #15
I'm suspicious of putting your Branch key in your strings.xml like that. I haven't tried it, but that could be part of your issue. Can you try just putting the literal key there instead of `@string/branch_key`?

[2017-10-17 00:41] DouglasHennrich commented on #15
I will try but I don't think this is the problem =/

[2017-10-17 00:56] DouglasHennrich commented on #15
[code]

This is my logcat till `bio:initSession` callback

[2017-10-17 01:13] jdee commented on #15
I can see this:

[code]

The Branch key looks good in that POST. I don't know what causes that error. I'm following up with the Android team, which will have to wait till tomorrow.

Judging from that error, it could have something to do with the link that's opening the app. But I'm not sure.

If it's not the link, it has to be how the SDK is integrated. I'm afraid I don't know enough about Titaniu

[2017-10-17 01:50] DouglasHennrich commented on #15
Yea I guess it's a problem on `RegisterView` because I'm getting `{"error":{"metadata":{},"link_identifier":"doesn't pass regex"}}` on that sample app too when I click on `Register View`

[2017-10-17 01:59] DouglasHennrich commented on #15
But still the same problem on init:
[code]

[2017-10-17 02:05] DouglasHennrich commented on #15
[code]

[2017-10-17 02:34] DouglasHennrich commented on #15
@jdee I'm setting this correct?
![captura de tela 2017-10-17 as 00 33 35](https://user-images.githubusercontent.com/10107024/31644082-e952bd88-b2d2-11e7-9130-c887b48a2f6f.png)

[2017-10-17 18:57] jdee commented on #15
Hi @DouglasHennrich. There are a couple of things you might want to improve in your configuration. If your app is published, you might just use "Google Play Search" instead of the custom URL. If that is the correct URL for your app (and the correct package name), then it's probably fine.

Also be aware that you need to set up the live and test environments separately in the Dashboard.

You've enab

[2017-10-17 18:59] jdee commented on #15
Also, there's nothing wrong with using `@string/branch_key` in your manifest, as long as that's properly set up in strings.xml. I just haven't seen that done often.

[2017-10-17 19:13] DouglasHennrich commented on #15
The thing about I don't use Google Play Search it's because I didn't found it... I found another apps but not mine... I tried to put my app's package but it didn't work too...

Another question... where do I find this:
[code]
Those `host`.

It's this?
![captura de tela 2017-10-17 as 17 09 19](https://user-images.githubusercontent.com/10107024/31684408-75da67a2-b35e-11e7-99f0-f95632f939e2.png)

[2017-10-18 16:24] jdee commented on #15
@DouglasHennrich That's the right domain. Whatever your links use. Did you try it? Did anything change?

[2017-10-19 15:01] DouglasHennrich commented on #15
Sorry for delay... but still not working =/

This is my tiapp.xml:
[code]

I'm using the `testbed` version and trying to create an `Branch Universal Object`
[code]

Why I can't create the link? what's the `event` that I need to fulfill ?
@jdee

[2017-10-19 15:03] DouglasHennrich commented on #15
Tried to register view too and I get the same error:
`returned {"error":{"code":400,"message":"Please specify an event"}}`

[2017-10-30 09:06] AndreaVitale opened #103 "$og_* and $twitter_* parameters"
Hi, where we can specify all $og_* and $twitter_* properties that are supported as per the docs?
I tried to append these properties here https://github.com/BranchMetrics/titanium-branch-deep-linking/blob/master/testbed/app/controllers/branchUniversal.js#L102 without success. The link preview will always scrap all informations from the fallback URL.

Thanks,
Andrea.

[2017-10-30 09:39] AndreaVitale commented on #103
It was my fault, sorry. I forgot to remove the specified fallback_url property. Thank you.

[2017-10-30 09:39] #103 closed

[2018-01-26 14:04] mitulbhalia commented on #101
Hi @jdee
I am getting below error when i clicked on "GENERATE URL" button in BUO view. Can you please tell me what am i missing?

BranchSDK: returned {"error":{"code":400,"message":"Please specify an event"}}

[2018-02-23 00:58] anik786 opened #104 "Titanium 7.x.x support"
Titanium 7.0.0, 7.0.1 and 7.0.2 has all been released. When will these be supported.

Thanks!

[2018-02-23 12:45] anik786 opened #105 "Why is window opened twice in example version of Android App"
For the Android version of the test app, why is the index window opened twice:

https://github.com/BranchMetrics/titanium-branch-deep-linking/blob/master/testbed/app/controllers/index.js
[lines 25 and 36]

[code]

[2018-02-26 05:13] jkotchoff commented on #104
+1

[2018-02-27 03:31] wrightlabs commented on #104
+1

[2018-03-21 16:31] sequoiaat commented on #92
Hi

We have tested and we found the following -

**- SDK - 6.1.2.GA**

Result - There was no issue in compiling and installing the app. No errors found.

**- SDK - 6.2.2.GA**

Result - There was no issue in compiling and installing the app but when the app was installed the app. The app would show a Runtime Error on the screen which is a Titanium SDK issue. Dismissing the dialog the app is still u

[2018-03-21 16:32] nuborian commented on #92
Did you tried the newest SDK? 7.x ?

best Nico

[2018-03-21 16:48] sequoiaat commented on #92
Hi Nico

We are just starting to look at 7.x.x  We will revert back

[2018-03-21 17:14] sequoiaat commented on #104
We tried this on 7.0.2.GA . Please  make the following changes to the Android manifest see if it helps

version: **2.0.0**
apiversion: **4**
architectures: **arm64-v8a** armeabi-v7a x86
description: Titanium-Deferred-Deep-Linking-SDK
author: Branch Metrics
license: MIT
copyright: Copyright (c) 2017 by Branch Metrics

# these should not be edited
name: Titanium-Deferred-Deep-Linking-SDK
moduleid: i

[2018-03-23 03:42] sequoiaat commented on #92
Hi Nico,

We are working on a fix for 7.x.x. and the issue is tracked under,

https://github.com/BranchMetrics/titanium-branch-deep-linking/issues/104

Closing this issue for older SDKs.

Thanks.

[2018-03-23 03:42] #92 closed

[2018-03-23 03:45] sequoiaat commented on #105
Thanks for the input @anik786.

We are looking into this issue. There will be an resolution to this defect soon.

Thanks.

[2018-03-23 03:50] sequoiaat commented on #104
We are have fix for this and we will publishing the fix soon. The fix should make it work on 7.0.2.GA and recently released 7.1.0.GA.

Thanks

[2018-03-23 04:01] sequoiaat commented on #101
Hi @mitulbhalia,

We have started to looking to all the issue backlogs and trying to resolve all the existing issues. I was trying to use SDK - 6.1.0.GA and 6.1.2.GA but was unable to repro the defect. We are also currently in the process of porting to latest 7.x.x for which we will publish changes soon. We closing this issues as we were unable to repro the defect.

Thanks.

[2018-03-23 04:01] #101 closed

[2018-03-23 04:09] sequoiaat commented on #91
Hi @julien9999,

Please get us more details if possible. Was there any modification that you made? Installing and running the latest and greatest, we were not able to repro the defect with two icons in the launcher. Checking the manifests also does not suggest that we  put up two launchers. Can you please give us more details to the issues and also screenshots would be helpful.

I am closing this

[2018-03-23 04:09] #91 closed

[2018-03-26 07:03] anik786 opened #106 "Bug in TestBed app when executing Ti.API.info"
There is a major bug in the Android version of TestBed.

[code]

[code]

Note that commenting out the first log allows the app run fine.

[2018-03-26 07:09] anik786 opened #107 "Inconsistencies for documentation about enabling universal links on iOS"
There seems to be inconsistencies between:
 1) The README file in https://github.com/BranchMetrics/titanium-branch-deep-linking#ios-enable-universal-links
 2) The doc: https://docs.branch.io/pages/apps/titanium/
 3) The testbed app: https://github.com/BranchMetrics/titanium-branch-deep-linking/tree/master/testbed

In the README file (1) and TestBed app (3), it says you need to create a new file na

[2018-03-26 16:47] sequoiaat commented on #106
Hi @anik786

Thanks. I am looking at it. Can you also please give me what the error you are seeing and also tell me what your SDK version is so that I can replicate exactly what you are seeing at your end.

Thanks.

[2018-03-26 22:01] anik786 commented on #104
Great to know :-)

[2018-04-17 16:09] nuborian commented on #104
@sequoiaat I was not able to compile the module and the Hosts of this rep doesn't seem to look into your Request - Could you please upload a 7.x ready version of it for all of us? =)

[2018-06-06 16:37] anik786 commented on #104
When will a Titanium 7.X version be ready on the repo? Titanium 7.1.0 has now been released!

[2018-06-06 17:03] sequoiaat commented on #104
Yes we are working on it. we plan to have it ready by next week

[2018-06-07 02:52] anik786 commented on #105
Was this commit merged by any chance?

[2018-06-07 02:53] anik786 commented on #107
Any feedback on this?

[2018-06-09 17:50] sequoiaat commented on #104
Support has been added.

[2018-06-18 11:52] anik786 commented on #104
There seems to be no releases here: https://github.com/BranchMetrics/titanium-branch-deep-linking/releases

[2018-07-16 02:38] bridgepoint opened #111 "Two ShareSheets are displayed after user had cancelled the first one."
When calling branchUniversalObject.showShareSheet() on iOS the share sheet is shown correctly. If the user selects Cancel, subsequent calls to branchUniversalObject.showShareSheet() display two sheets on top of each other.

It seems one sheet is complete and works correctly, the other goes into a weird UI state if used.

[2018-07-17 18:01] sequoiaat commented on #111
Looking into the issue. will update the findings.

[2018-07-20 16:10] anik786 commented on #104
There are still no releases out? What's going on?

[2018-07-20 16:56] Sarkar commented on #104
@anik786 we'll be deploying this shortly, so sorry for the delay and silence

[2018-08-29 12:28] jonasfunk opened #112 "No share sheet showing with Ti SDK 7.3.0"
We just updated our Titanium SDK from 7.1.1 to 7.3.0, and now our users are reporting that the share sheet does not appear when pressing the share button. From the log "inside onShareLinkDialogLaunched" is printed, so there does not seem to be any apparent error, just no share sheet. Even though this might not be a Branch issue, it would be great to know what's the cause, so I can create a ticket

[2018-08-31 21:43] amigoni commented on #112
Running to a similar issue. on the generateShortURL listener get the following error.

[ERROR] :  {"type":"bio:generateShortUrl","source":{"title":"xxx Item","message":"Hello World from my module","canonicalIdentifier":"item/554","contentIndexingMode":"public","contentDescription":"","contentImageUrl":"","publicallyIndexable":true,"apiName":"Ti.Proxy","bubbleParent":true,"contentMetadata":{"item":

[2018-09-04 23:48] sequoiaat commented on #112
Hi all,

working on the issue. will update you soon.

Thanks
Rajani

[2018-09-19 07:11] AndreaVitale opened #113 "Android: Share sheet isn't working properly"
I'm using Ti SDK 7.1.1.GA and testing it on Android 7.1.2.

If I call the share sheet, this is shown correctly but if I click on an option nothing appens.
Via adb I catched this error log:

[code]

The phone is obviously connected to a network and the network is correctly working.
What have I to do?

[2018-09-21 16:31] Sarkar commented on #104
@AndreaVitale sorry about the delay. @sequoiaat will be responding shortly with more details and a timeline on fix.

[2018-09-28 00:30] sequoiaat commented on #104
@AndreaVitale  . We are looking into this still to provide a solution. Can you please check this issue on TI as we think  it is similar to this thread  #45

[2018-10-03 22:05] amigoni opened #114 "iOS Push notifications being blocked?"
It seems the push notifications are not being received inside the app anymore since integrating branch. We have our own push server and the phone gets the notifications but the listener in the app will not fire. Has anyone else seen this behaviour? Thanks

[2018-10-05 19:59] AndreaVitale commented on #104
@sequoiaat no, I can't see a message like this.
I also moved to Ti SDK 7.4.0 and now the share sheet isn't showing as reported in #112 . On iOS everything is ok.

[2018-10-10 08:06] AndreaVitale commented on #104
Are there updates guys? This issue led HUNDREDS of our users complaining every day about the highlighted problem. I would like to make you notice that this turns out to be a big loss of money for us, since link sharing is a crucial part of our acquisition/activation funnel.

Please give us an ETA.
Unfortunately for us, if this will not be fixed we are forced to move to another provider.
Thanks.

[2018-10-11 17:37] Sarkar commented on #104
@AndreaVitale we may have found the root cause -- more details coming in ~ an hour with resolution to fix + deploy.

[2018-10-11 20:32] Sarkar commented on #104
@AndreaVitale , we discovered an issue with the underlying Android SDK. We'll need to make changes there, release, and then apply the release here. Still working on timelines.

[2018-10-11 23:31] amigoni commented on #114
Not even an answer on this? Is anyone maintaining this repo?

[2018-10-11 23:33] amigoni commented on #104
Seeing push notifications issues with iOS 12 and 7.4.0

[2018-10-12 18:28] sequoiaat commented on #114
@amigoni  we will looking  at the support for this in the branch titanium sdk and revert back with an answer.

[2018-10-15 21:20] Sarkar commented on #104
@AndreaVitale shooting for middle of next week, but hoping to be earlier.

[2018-10-15 23:59] Sarkar commented on #104
@AndreaVitale, quick update. We have a PR being reviewed here: https://github.com/BranchMetrics/android-branch-deep-linking/pull/627 once this is merged in, we can roll this out to Titanium.

[2018-10-17 22:06] Sarkar commented on #104
@AndreaVitale -- while we were reviewing this code, another interesting clue / lead came up. Are you by chance using `OkHTTP` as a networking library in your app?

[2018-10-18 10:09] AndreaVitale commented on #104
@Sarkar yes, Titanium SDK uses `com.android.okhttp`.

[2018-10-18 21:56] Sarkar commented on #104
@AndreaVitale, got it. That might be causing problems as well. Is it possible for you to quickly test turning the cache off for that library, and seeing if that fixes the share sheet issue? If not, we'll continue to push the above PR.

[2018-10-19 07:03] AndreaVitale commented on #104
Hi, no, I can’t at the moment.. if you push a PR I’ll surely can test it ASAP.

[2018-10-23 06:13] AndreaVitale commented on #104
@Sarkar what's about the PR? Have you fixed this issue?

[2018-10-24 00:05] Sarkar commented on #104
@AndreaVitale , it turns out that the fix from the Android SDK repo won't fix this issue, because OkHTTP is used with Titanium. I'll ask @sequoiaat to find a way to disable the cache on OkHTTP in Titanium.

[2018-10-24 00:06] Sarkar commented on #104
Alternatively, if you could make this change in the core Android SDK (that is tied to the titanium project) https://github.com/BranchMetrics/android-branch-deep-linking/pull/627/files, as it's just one line, it might unblock you (though, most likely won't, as I mentioned above, OkHTTP is used with titanium).

[2018-10-29 18:41] Sarkar commented on #104
@AndreaVitale, we definitely support Titanium. Apologies on this issue, but the last PR we made, here: https://github.com/BranchMetrics/android-branch-deep-linking/pull/627/files, would likely have not fixed the issue.

@sequoiaat, since Titanium is using OkHTTP - can we test to see if we apply this same fix to that library, that it'll fix it?

[2018-11-01 14:29] sequoiaat commented on #104
@AndreaVitale  did the above change mentioned in the PR unblock you ?

[2018-11-07 18:17] AndreaVitale commented on #104
@sequoiaat no, it doesnt. I updated the jar from [this commit](https://github.com/BranchMetrics/android-branch-deep-linking/pull/627/commits/d9055bf5df0a7ce773f76fdd59806c00dc6938df) (is the latest committed on your branch) and recompiled the module.
When I try to show the share sheet panel nothing happens as mentioned in #112 .
I only see these messages inside console:
[code]

[2018-11-28 18:12] AndreaVitale commented on #112
For those that are blocked here, here is my code that works around the branch.io share sheet (and that I prefer because looks really better then branch.io one):

    var object = generateQuickLinkFor(action, { model: model });

    if (OS_ANDROID) {
        object.link.addEventListener('bio:generateShortUrl', function generatedLinkHandler(event) {
            object.link.removeEventListener('bio:g

[2018-11-29 16:14] sequoiaat commented on #104
@AndreaVitale - there are few older issues related to this  and seemed about cached external storage. can you please check them and see if the resolutiosn mentioned in two thread solve the  issue-  https://github.com/BranchMetrics/titanium-branch-deep-linking/issues/76
https://github.com/BranchMetrics/titanium-branch-deep-linking/issues/45

[2019-01-16 00:06] csalmi-branch commented on #113
@AndreaVitale Are you still experiencing this issue?

[2019-01-16 00:08] csalmi-branch commented on #107
@anik786 Are you still experiencing this issue?

[2019-01-16 00:18] csalmi-branch commented on #98
@nuborian Is there a specific issue you have with the logs, or could you provide an example of how it is particularly verbose?

Otherwise, are you asking for a way to disable logging?

[2019-01-16 00:34] csalmi-branch commented on #15
@DouglasHennrich are you still experiencing an issue with SingleTask? I saw that the reported Titanium issue was closed, which doesn't help much here.

[2019-01-25 00:53] csalmi-branch commented on #106
@anik786 Are you still experiencing this issue? If so, could you let us know which SDK version you are using?

[2019-02-13 19:46] sequoiaat commented on #107
@anik786  thanks for pointing it out. We tested it and what you mentioned is very correct.
@csalmi-branch  - can we please create a internal ticket to correct the documentation  2 - https://docs.branch.io/pages/apps/titanium/

[2019-03-29 19:18] csalmi-branch commented on #113
Due to the age and inactivity of this issue, I am closing this now. If you are encountering this problem still, please reach out to our support team (support.branch.io) or open a new github issue and we would be happy to help you out!

[2019-03-29 19:18] #113 closed

[2019-03-29 20:45] csalmi-branch commented on #104
Due to the age and inactivity of this issue, I am closing this now. If you are encountering this problem still, please reach out to our support team (support.branch.io) or open a new github issue and we would be happy to help you out!

[2019-03-29 20:45] #104 closed

[2019-03-29 20:48] csalmi-branch commented on #15
@DouglasHennrich are you still experiencing this issue?

[2019-09-26 13:45] TechlingerHons commented on #61
still get the same error with the newest version

[2019-11-13 11:22] AndreaVitale opened #116 "Is this module maintained?"
The question is very simple: is this module maintained? The latest commit is about January and there were no updates.

Can you please tell us if we have to move on another service?

Thanks.

[2020-01-02 16:34] AndreaVitale commented on #116
Could you please give us more details? Thanks.

[2020-05-06 14:02] surajpendhare commented on #107
https://docs.branch.io/pages/apps/titanium/
This document is deprecated from branch io

[2020-10-21 17:06] ankushShetty1993 commented on #36
@aniruddhasm I am also facing the same issue how did you solve it. please find my manifest file below,

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.tecnicianapp">

    <uses-permission android:name="android.permission.INTERNET" />

<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

<uses-permission android:name="android.permission.ACC